<div class="modal fade" id="edit_permissions" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
        <h4 class="modal-title">Edit User Permissions </h4>
      </div>
      <%=form_for [:admin, @user_subscription], :remote => true do |f| %>
	      <div class="modal-body form-group">
	        <div class="row form-group">
	        	<div class="col-md-3">
	        		<label>User Permissions<%= required_field %></label>
	        	</div>
	        	<div class="col-md-2">
	        		<%= f.check_box 'permission_watch' %><label>Watch</label>
	        	</div>
	        	<div class="col-md-2">
	        		<%= f.check_box 'permission_share' %><label>Share</label>
	        	</div>
	        	<div class="col-md-2">
	        		<%= f.check_box 'permission_create' %><label>Create</label>
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn default" data-dismiss="modal">Cancel</button>
	        <%= f.submit 'Save', :class=>"btn blue" %>
	      </div>
	    <% end %>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>