<% channels.each do |channel| %>
  <div class="courses-list">
    <div class="row">
      <div class="col-xs-5 col-sm-3 col-md-2">
        <div class="course-logo-img">
          <h4 class="text-center company-name"><%= link_to channel.name.titleize, channel_url(channel.id) %></h4>
          <%= link_to image_tag(channel.image.url, :alt => "Image", :class => "img-responsive" ), channel_url(channel.id) %><br>
        </div>
      </div>
      <div class="col-xs-7 col-sm-9 col-md-10">
        <div class="<%= (channel.courses.length > 2) ? 'course-offered_scroll' : 'course-offered' %>" >
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <% channel.published_topic_courses.each do |course| %>
                    <div class="course-each">
                      <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-7">
                          <ul class="list-content">
                            <li class="title"><%= link_to course.name.titleize, list_of_course_url(course.id) %></li>
                            <li class="descr hidden-xs"><%= course.description.truncate(300) %></li>
                          </ul>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3">
                          <div class="col-xs-12">
                            <ul class="list-content browse_subscription">
                            <% if user_signed_in? %>
                              <% if current_user && !current_user.permitted_courses.include?(course) %>
                                <li>
                                  <%= link_to("Subscribe", subscribe_subscription_path(course), {:remote => true, :class => "btn btn-danger", 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) %>
                                </li>
                                  <%= browse_course_subscriptions(course) %>
                              <% else %>
                                <li>
                                  <%= link_to("Subscribe", "#", :class => "btn btn-danger disabled") %>
                                </li>
                              <% end %>
                            <% else %>
                              <li>
                                <%= link_to("Subscribe", subscribe_subscription_path(course), {:remote => true, :class => "btn btn-danger", 'data-toggle' =>  "modal", 'data-target' => '#modal-window'})  %>
                              </li>
                               </li>
                                  <%= browse_course_subscriptions(course) %>
                            <% end %>
                            </ul>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-2 hidden-xs">
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="course-featured-video">
                                <%= displaying_demo_videos_thumbnail(course) %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- row ends -->
  </div>
<!-- courses-list 1 ends -->
<% end %>
<div id="modal-window" class="modal fade black-text" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none; color:black"></div>
<%= paginate channels, :remote => true %>
<!-- courses-list 1 ends -->
