<div class="row">
  <div class="col-sm-5">
    <ul class="social-id">
      <li>
        <%= lazuli_button_to("Signin with Facebook",  user_omniauth_authorize_path(:facebook), :class => "btn-primary facebook") %>
      </li>
      <li>
        <%= lazuli_button_to("Signin with Google+", user_omniauth_authorize_path(:google_oauth2), :class => 'btn-danger googleplus') %>
      </li>
      <li>
        <%= lazuli_button_to("Signin with Linkedin", user_omniauth_authorize_path(:linkedin), :class => "btn-primary linkedin")%>
      </li>
    </ul>
  </div>
  <div class="col-sm-7">
    <%= form_for(resource, :as => resource_name, :remote => true, :url => registration_path(resource_name)) do |f| %>
      <div id='message'></div>
      <div class="row">
        <div class="col-sm-12">
          <label class="hidden-xs" for="u-name">Actual Name</label>
          <%= f.text_field :actual_name, :autofocus => true, :class => 'form-control', :placeholder => 'Enter your Actual Name' %>
        </div>
      </div>
      <div class="seperator10"></div>
      <div class="row">
        <div class="col-sm-12">
          <label class="hidden-xs" for="u-name">Username</label>
          <%= f.text_field :name, :class => 'form-control', :placeholder => 'Enter your Username' %>
        </div>
      </div>
      <div class="seperator10"></div>
      <div class="row">
        <div class="col-sm-12">
          <label class="hidden-xs" for="u-name">Company Name</label>
          <%= f.text_field :company_name, :class => 'form-control', :placeholder => 'Enter your Company Name' %>
        </div>
      </div>
      <div class="seperator10"></div>
        <div class="row">
          <div class="col-sm-12">
            <label class="hidden-xs" for="u-email">Email Address</label>
            <%= f.email_field :email, :class => 'form-control', :placeholder => 'Enter valid Email Address' %>
        </div>
      </div>
      <div class="seperator10"></div>
      <div class="row">
        <div class="col-sm-12">
            <label class="hidden-xs" for="u-pswd">Password</label>
            <%= f.password_field :password, :class => 'form-control', :placeholder => 'Strong Password' %>
        </div>
      </div>
      <div class="seperator10"></div>
      <div class="row">
        <div class="col-sm-12">
            <label class="hidden-xs" for="u-confpswd">Confirm Password</label>
            <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => 'Confirm Password' %>
        </div>
      </div>
      <div class="seperator10"></div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success btn-block">Signup</button>
        </div>
      </div>
    <% end %> 
  </div>
</div>
