<div class="row">
	<div class="col-md-12">
  	<a href = "topics/new" class="btn btn-default btn-success pull-right" data-no-turbolink="true" rel="tooltip" title="Add New Topic"><i class="fa fa-3x fa-plus"></i> Add New Topic
  	</a>
	</div>
</div>
<section class="container">
	<div class="row">
		<div class="seperator5"></div>
		<div class="portlet-body flip-scroll">
			<table class="table table-bordered table-striped table-condensed flip-content table-hover" id="sample_2">
				<thead class="flip-content">
					<tr>
				      <th>Topic Name<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Course<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Channel Name</th>
				      <th>Vimeo URL</th>
				      <th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @topics.each do |topic|%>
					<tr>
				      <td><%= topic.title %></td>
				      <td><%= topic.presence.try(:course).presence.try(:name) %></td>
				      <td><%= channel_name_for_topic(topic.channel_id)  %></td>
				      <td><%= "https://vimeo.com/album/#{topic.presence.try(:vimeo_album_id)}" %></td>
				      <td>
								<a href="/admin/topics/<%=topic.id%>/edit" class="btn btn-trans" data-no-turbolink="true" rel="tooltip" title="Edit Topic"><i class="fa fa-edit"></i></a>
								<a href="/admin/topics/<%=topic.id%>" class="btn btn-trans" data-method="delete" data-confirm="Are you sure you want to delete?" rel="tooltip" title="Delete Topic"><i class="fa fa-ban"></i></a>
								<a href="#" class="btn btn-trans" rel="tooltip" title="Publish Topic"><i class="fa fa-cloud-upload"></i></a>
				      </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section>

<%= paginate @topics, :window => 2, :remote => true %>