<div class="seperator30"></div>
<section class="container">
	<div class="row">
		<div class="seperator5"></div>
		<div class="portlet-body flip-scroll">
			<table class="table table-bordered table-striped table-condensed flip-content table-hover" id="sample_1">
				<thead class="flip-content">
					<tr>
				      <th>Video</th>
				      <th>Topic<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Course<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Tags<i class="fa fa-3x fa-filter pull-right"></i></th>
				      <th>Channel</th>
				      <th>Vimeo URL</th>
				      <th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% @videos.each do |video|%>
					<tr>
					  <td><%= link_to video.title, edit_admin_video_url(video) %></td>
				      <td><%= video.presence.try(:topic).presence.try(:title) %></td>
				      <td><%= video.presence.try(:topic).presence.try(:course).presence.try(:name) %></td>
				      <td><%= video.presence.try(:tag_list) %></td>
				      <td><%= channel_name_for_topic(video.presence.try(:topic).presence.try(:channel_id)) %></td>
				      <td><%= video.presence.try(:vimeo_url) %></td>
				      <td>
				      	<a href="/admin/videos/<%= video.id %>/edit" class="btn btn-trans" rel="tooltip" title="Edit Video"><i class="fa fa-edit"></i></a>
								<a href="/admin/videos/<%= video.id %>" class="btn btn-trans" data-method="delete" data-confirm="Are you sure you want to delete?" rel="tooltip" title="Delete Video"><i class="fa fa-ban"></i></a>
								<%= link_to(raw_field('fa fa-cloud-upload'), upload_admin_video_path(video), :class => "btn btn-trans", :rel=>"tooltip", :title=>"Publish Video" ) if !video.published? %>
				      </td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</section>
<div class="modal fade" id="file-upload" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
				<h4 class="modal-title">File Upload</h4>
			</div>
			<div class="modal-body form-group">
				<div class="row">
					<div class="col-md-2">
						<label>File Type</label>
					</div>
					<div class="col-md-10">
						<label>
							<input type="radio" name="video-up-mode" id="video-up-mode1" value="multiple-upload">Multiple Video Upload
						</label><br>
						<label>
							<input type="radio" name="video-up-mode" id="video-up-mode2" value="single-upload">Single Bookmarked Video
						</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn default" data-dismiss="modal">Close</button>
				<button type="button" class="btn blue">Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<%= paginate @videos, :window => 2, :remote => true %>

