<% video = topic.videos.first %>
<%= form_tag(bookmark_admin_bookmark_path(video), :remote => true, :id => "bookmark_form") do  %>
	<div class="row">
	  <div class="col-xs-2">
	   <label class="control-label" for="bkmrk-time">Time</label>
	  </div>
	  <div class="col-xs-2">
	   <label class="control-label">Title<%= required_field %></label>
	  </div>
	  <div class="col-xs-5">
	   <label class="control-label" for="bkmrk-descr">Description</label>
	  </div>
	</div>
	<% if video.bookmarks.blank?%>
		<div class="row">
		  <div class="col-xs-2">
		  	<%= text_field_tag "bookmark[]time", nil , :class => "form-control", :value => "00:00" %>
		  </div>
		  <div class="col-xs-2">
		  	<%= text_field_tag "bookmark[]title", nil,:class => "form-control validate[required]", :placeholder => "Please enter bookmark title" %>
		  </div>
		  <div class="col-xs-6">
		  	<%= text_field_tag "bookmark[]description", nil, :class => "form-control", :placeholder => "Describe this bookmark", :row => 1 %>
		  </div>
		  <div class="col-xs-1">
		   <button type="button" class="btn btn-trans" title="Remove" onclick="$(this).parent().parent().remove();javascript:void(0);"><i class="fa fa-minus-circle"></i></button>
		  </div>
		</div>
		<div class="seperator5"></div>
	<% else %>
		<% video.bookmarks.each do |bookmark| %>
			<div class="row">
			  <div class="col-xs-2">
			  	<%= text_field_tag "bookmark[]time", nil , :class => "form-control", :value => bookmark.time %>
			  </div>
			  <div class="col-xs-2">
			  	<%= text_field_tag "bookmark[]title", nil , :class => "form-control", :value => bookmark.title %>
			  </div>
			  <div class="col-xs-6">
			  	<%= text_area_tag "bookmark[]description", bookmark.description , :class => "form-control", :rows => 1 %>
			  </div>
			  <div class="col-xs-1">
			   <button type="button" class="btn btn-trans" title="Remove" onclick="$(this).parent().parent().remove();javascript:void(0);"><i class="fa fa-minus-circle"></i></button>
			  </div>
			</div>
			<div class="seperator5"></div>
		<% end %>
	<% end %>
<% end %>