<div id="bookmark_alert"></div>
<div class="row">
	<div class="col-sm-7">
		<a href="<%= @video.try(:clip).try(:url) %>" style="display:block; width:520px; height:300px;" id="player"> </a>
	</div>
</div>  
<%= nested_form_for(@video, :url => create_bulk_admin_bookmark_path(@video), :method => :post, :remote => true, :html => {:id => "bookmark_form"}) do |f| %>
	<div class="row">
	  <div class="col-xs-2">
	   <label class="control-label" for="bkmrk-time">Time</label>
	  </div>
	  <div class="col-xs-2">
	   <label class="control-label">Title<%= required_field %></label>
	  </div>
	  <div class="col-xs-5">
	   <label class="control-label" for="bkmrk-descr">Description</label>
	  </div>
	</div>
	<%= f.fields_for :bookmarks, :wrapper => false do |bookmark| %> 
		<div class="row">
		  <div class="col-xs-2">
		  	<%= bookmark.text_field :time, :class => "form-control" %>
		  	<%#= bookmark.text_field :time, nil , :class => "form-control", :value => bookmark.time %>
		  </div>
		  <div class="col-xs-2">
		  	<%= bookmark.text_field :title, :class => "form-control"%>
		  	<%#= bookmark.text_field :title, nil , :class => "form-control", :value => bookmark.title %>
		  </div>
		  <div class="col-xs-6">
		  	<%= bookmark.text_area :description, :class => "form-control", :rows => 1 %>
		  	<%#= bookmark.text_area :description, bookmark.description , :class => "form-control", :rows => 1 %>
		  </div>
		  <div class="col-xs-1">
		  	<%= bookmark.link_to_remove button_raw_field("fa fa-minus-circle", "btn btn-trans") %>
		  </div>
		</div>
		<div class="seperator5"></div>
	<% end %>
<% end %>
<%= javascript_include_tag "jquery_nested_form.js" %>
<%= javascript_include_tag "admin/app_functions/video_bookmark.js" %>