<%= javascript_include_tag "utils.js"%>
<%= javascript_include_tag "admin/app_functions/topics.js"%>
<%= nested_form_for [:admin , @topic] do |f| %>
<%= render '/layouts/admin/error', :object => @topic %>
	<div class="form-group">
		<div class="panel panel-default">
			<div class="panel-body seperator5">
				<div class="row">
					<div class="col-sm-11">
						<h4 class="heading">Topic</h4>
					</div>
					<div class="col-sm-1 text-right">
						<a href="#"><i class="fa fa-2x fa-question-circle"></i></a>
					</div>
				</div>
				<div class="seperator20"></div>
				<div class="row">
					<div class="col-sm-1">
						<label for="t-topic" class="control-label">Topic</label>
					</div>
					<div class="col-sm-3">
						<%= f.text_field 'title', :class => "form-control"%>
					</div>
					<div class="col-sm-1 col-sm-offset-2">
						<label class="control-label" for="t-course">Course</label>
					</div>
					<div class="col-sm-3">
						<%=f.select :course_id ,options_for_select( @courses.collect{|c| [c.name, c.id]}, @topic.course_id), {:include_blank => "Please Select"}, {:class =>"form-control course_id" }%>
					</div>
				</div>
				<div class="seperator10"></div>
				<div class="row">
					<div class="col-sm-1">
						<label for="t-descr" class="control-label">Description</label>
					</div>
					<div class="col-sm-3">
						<%= f.text_area :description, :rows => 4, :class => "form-control" %>
					</div>
					<div class="col-sm-1 col-sm-offset-2">
						<label class="control-label" for="t-channel">Channel</label>
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control" name="t-channel" id="t-channel" disabled = true>
						<%=f.hidden_field 'channel_id',{:class => "form-control"}%>
					</div>
				</div>
				<div class="seperator10"></div>
				<div class="row">
					<div class="col-sm-12">
						<%= render 'video_accordion', :f => f %>
					</div>
				</div>
				<div class="seperator5"></div>
				<div class="row">
					<div class="col-sm-12">
						<button type="submit" class="btn green" value="Save">Save</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<% end %>