<%= javascript_include_tag "utils.js"%>
<%= javascript_include_tag "admin/app_functions/topics.js"%>
<%= nested_form_for [:admin , @topic], :html => {:class => "topicFrom"} do |f| %>
<%= errors_for @topic unless @topic.errors.blank? %>
	<div class="form-group">
		<div class="panel panel-default">
			<div class="panel-body seperator5">
				<div class="row">
					<div class="col-sm-11">
						<h4 class="heading"> <%= add_topic_title %></h4>
					</div>
					<div class="col-sm-1 text-right">
						<a href="#"><i class="fa fa-2x fa-question-circle"></i></a>
					</div>
				</div>
				<div class="seperator20"></div>
				<div class="row">
					<div class="col-sm-2">
						<label for="t-topic" class="control-label">Topic<%= required_field %></label>
					</div>
					<div class="col-sm-3">
						<%= f.text_field 'title', :class => "form-control validate[required]"%>
					</div>
					<div class="col-sm-2 col-sm-offset-1">
						<label class="control-label" for="t-course">Channel<%= required_field %></label>
					</div>
					<div class="col-sm-3">
						<%= f.select 'channel_id',options_for_select(@channels.collect{|c| [ c.name, c.id]}, f.object.channel_id),{:include_blank => "Please Select"}, :class => 'form-control channels_id validate[required]' %>
					</div>
				</div>
				<div class="seperator10"></div>
				<div class="row">
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-4">
								<label for="t-descr" class="control-label">Description</label>
							</div>
							<div class="col-sm-6">
								<%= f.text_area :description, :rows => 4, :class => "form-control" %>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row">
							<div class="col-sm-4">
								<label class="control-label" for="t-channel">Course <%= required_field %></label>
							</div>
							<div class="col-sm-6">
								<%= f.select 'course_id', options_for_select(@channel_courses.collect{|i| [i.name, i.id]}, f.object.course_id), {:include_blank => "Please Select"}, :class => 'form-control courses_id validate[required]' %>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3 width30">
								<%= f.label :is_bookmark_video, "Type of video", :class => "control-label" %>
							</div>
							<div class="col-sm-8">
								<div>
									<label class="radio">
										<%= f.radio_button :is_bookmark_video, true, :class => "checkbox", :disabled => !f.object.new_record? %>
											Single Bookmark Video
									</label>
									<label class="radio">
										<%= f.radio_button :is_bookmark_video, false, :class => "checkbox", :disabled => !f.object.new_record? %>
											Multiple Videos
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="seperator10"></div>
				<div class="row">
					<div class="col-sm-12">
						<%= render 'video_accordion', :f => f %>
					</div>
				</div>
				<div class="seperator5"></div>
				<div class="row">
  				<div class="col-md-12">
  					<%= button_tag 'Save and Publish', :class=>"btn blue publish_alert", :value => "Publish", :name => "SavePub" %>
  					<%= button_tag 'Save', :class=>"btn green", :value=>"Save", :name=>"Save" %>
  					<% if !f.object.new_record? %>
  						<%= button_tag 'Publish', :class=>"btn purple publish_alert", :value => "Publish", :name => "Publish" %>
  					<% end %>
  					<%= link_to "Cancel", "#{admin_contents_url}#topics", :data => {'no-turbolink' => true}, :class => 'btn default' %>
  				</div>
  			</div>
			</div>
		</div>
	</div>
<% end %>

<%= render 'bookmark', :topic => @topic %>