<!-- ACCOIRDION START -->
<div class="portlet-body">
	<div class="panel-group accordion" id="accordion1">
		<% index = 0 %>
		<%= f.fields_for :videos, :wrapper => false do |video_form| %> 
			<div class="panel panel-default fields">
				<div class="panel-heading">
					<div class="panel-title">
							<div class="row">
								<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_<%= !video_form.options[:child_index].nil? ? video_form.options[:child_index] : index %>">
								<div class="col-sm-8"><h5> Video </h5></div></a>
								<div class="col-sm-2 text-right"><h5>Sequence Number</h5></div>
								<div class="col-sm-1">
									<%= video_form.number_field :sequence_number, :class => "form-control", :id =>"seqNum1" %>
									<!-- <input class="form-control" type="number" min="1" name="seqNum1" id="seqNum1"> -->
								</div>

								<div class="col-sm-1 nopadding">
									<div class="btn-group nopadding">
										<%= video_form.link_to_remove raw("<button class='btn'><i class='fa fa-ban'></i></button>") %>
										<a class="accordion-toggle  btn-grey" data-toggle="collapse" data-parent="#accordion1" href="#collapse_<%= !video_form.options[:child_index].nil? ? video_form.options[:child_index] : index %>"><button class="btn" id="extend_button"><i class="fa fa-chevron-down"></i></button>
										</a>
									</div>
								</div>

							</div>
					</div>
				</div>
				<div id="collapse_<%= !video_form.options[:child_index].nil? ? video_form.options[:child_index] : index %>" class="panel-collapse collapse">
					<div class="panel-body form-group">
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label">Title of Video</label>
							</div>
							<div class="col-sm-4">
								<%= video_form.text_field :title, :class => "form-control"%>
								<!-- <input class="form-control" type="text" name="VideoTitle1" id="VideoTitle1"> -->
							</div>
							<div class="col-sm-2">
								<label class="control-label">Thumbnail</label>
							</div>
							<div class="col-sm-4">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="fileupload-new thumbnail" style="width: 180px; height: 135px;">
										<%= image_tag video_form.object.image(:medium) %>
									</div>
									<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 180px; max-height: 135px; line-height: 20px;"></div>
									<div>
										<span class="btn purple btn-file">
										<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Edit</span>
										<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
										<%= video_form.file_field :image, :class => "default"%>
										</span>
										<a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label">Description</label>
							</div>
							<div class="col-sm-4">
								<%= video_form.text_area :description, :rows => 4, :class => "form-control"%>
							</div>
							<div class="col-sm-2">
								<label class="control-label">Video Summary</label>
							</div>
							<div class="col-sm-4">
								<%= video_form.text_area :summary, :rows => 4, :class => "form-control"%>
							</div>
						</div>
						<div class="seperator5"></div>
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label" for="tags_1">Tags</label>
							</div>
							<div class="col-sm-4">
								<%= video_form.hidden_field :tag_list, :class => "select2 video_tag_list" %>
							</div>
							<div class="col-sm-2">
	  						<label for="video-upload" class="control-label">Video</label>
	  					</div>
	  					<div class="col-sm-4">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<span class="btn blue btn-file">
									<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Upload File</span>
									<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
									<%= video_form.file_field :clip, :class => "default"%>
									</span>
									<span class="fileupload-preview" style="margin-left:5px;"></span>
									<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
								</div>
	  					</div>
						</div>
						<div class="seperator5"></div>
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label" for="vimeo-url1">Video URL</label>
							</div>
							<div class="col-sm-4">
								<%= video_form.text_field :vimeo_url, :class => "form-control"%>
							</div>
							<div class="col-sm-2">
								<label class="control-label">Available for</label>
							</div>
							<div class="col-sm-4">
								<div class="checkbox-list">
									<%= video_form.check_box :demo, :class => "form-control" %>
									<label class="checkbox-inline">
									  Demo 
									</label>
									<%= video_form.check_box :trial, :class => "form-control" %>
									<label class="checkbox-inline">
									  Trial
									</label>
								</div> 
							</div>
						</div>
						<div class="seperator5"></div>
					</div>
				</div>
			</div>
			<div class="seperator5"></div>
			<% index += 1 %>
		<% end %>
	</div>
</div> <!-- ACCORDION END -->
<div class="seperator5"></div>
<div class="row">
	<div class="col-sm-12">
		<a href="#"><i class="fa fa-plus"></i></a>
		<%= f.link_to_add "(Add another video)", :videos, :data => { :target => "#accordion1" } %>
	</div>
</div>