<!-- ACCOIRDION START -->
<div class="portlet-body" id="video_accordion">
	<div class="panel-group accordion" id="accordion1">
		<% index = 0 %>
		<%= f.fields_for :videos, @topic_videos, :wrapper => false do |video_form| %>
			<div class="panel panel-default fields">
				<div class="panel-heading">
					<div class="panel-title">
							<div class="row">
								<div class="col-sm-8">
									<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_<%= !video_form.options[:child_index].nil? ? video_form.options[:child_index] : (video_form.object.id.blank? ? video_form.object.sequence_number : video_form.object.id) %>">
									<div><h5><%= video_title(video_form.object.title) %></h5></div></a>
								</div>
								<div class="col-sm-2 text-right"><h5>Sequence Number</h5></div>
								<div class="col-sm-1">
									<%= video_form.number_field :sequence_number, :class => "form-control sequence_number" %>
								</div>
								<div class="col-sm-1 nopadding">
									<div class="btn-group nopadding">
										<%= video_form.link_to_remove button_raw_field('fa fa-ban'), :title => 'Delete Video' , :class => "col-sm-6" %>
										<a class="accordion-toggle  btn-grey col-sm-6" data-toggle="collapse" data-parent="#accordion1" href="#collapse_<%= !video_form.options[:child_index].nil? ? video_form.options[:child_index] : (video_form.object.id.blank? ? video_form.object.sequence_number : video_form.object.id) %>"><button class="btn" id="extend_button"><i class="fa fa-chevron-down"></i></button>
										</a>
									</div>
								</div>
							</div>
					</div>
				</div>
				<div id="collapse_<%= !video_form.options[:child_index].nil? ? video_form.options[:child_index] : (video_form.object.id.blank? ? video_form.object.sequence_number : video_form.object.id) %>" class="panel-collapse collapse">
					<div class="panel-body form-group">
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label">Title of Video<%= required_field %></label>
							</div>
							<div class="col-sm-3">
								<%= video_form.text_field :title, :class => "form-control validate[required]"%>
								<!-- <input class="form-control" type="text" name="VideoTitle1" id="VideoTitle1"> -->
							</div>
							<div class="col-sm-2 col-sm-offset-1">
								<label class="control-label">Thumbnail</label>
								<p class="logo-up-size">(154px x 116px)</p>

							</div>
							<div class="col-sm-4">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<div class="fileupload-new thumbnail" style="width: 220px; height: 120px;">
										<%= image_tag thumbnail_image(video_form.object) unless video_form.object.new_record? %>
									</div>
									<div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 180px; max-height: 135px; line-height: 20px;"></div>
									<div>
										<span class="btn purple btn-file">
										<span class="fileupload-new"><i class="fa fa-paper-clip"></i> <%= add_video_image_title(video_form.object) %> </span>
										<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
										<%= video_form.file_field :image, :class => "default"%>
										</span>
										<a href="#" class="btn red fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash-o"></i> Remove</a>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label">Description<%= required_field %></label>
							</div>
							<div class="col-sm-3">
								<%= video_form.text_area :description, :rows => 4, :class => "form-control validate[required]"%>
							</div>
							<div class="col-sm-2 col-sm-offset-1">
								<label class="control-label">Video Summary</label>
							</div>
							<div class="col-sm-4">
								<%= video_form.text_area :summary, :rows => 4, :class => "form-control"%>
							</div>
						</div>
						<div class="seperator5"></div>
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label" for="tags_1">Tags</label>
							</div>
							<div class="col-sm-3" title="Only one tag at a time">
								<%= video_form.hidden_field :tag_list, :class => "select2 video_tag_list", :placeholder => "Type the value and Enter" %>
							</div>
							<div class="col-sm-2 col-sm-offset-1">
	  						<label for="video-upload" class="control-label">Video<%= required_field %></label>
	  					</div>
	  					<div class="col-sm-4">
								<div class="fileupload fileupload-new" data-provides="fileupload">
									<span class="btn blue btn-file">
										<span class="fileupload-new"><i class="fa fa-paper-clip"></i> <%= add_video_clip_title(video_form.object) %> </span>
										<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
										<%= video_form.file_field :clip, :class => "default" %>
									</span>
									<span class="fileupload-preview" style="margin-left:5px;">
										<%= video_form.object.clip_file_name %>
									</span>
									<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;">
									</a>
								</div>
	  					</div>
						</div>
						<div class="seperator5"></div>
						<div class="row">
							<div class="col-sm-2">
								<label class="control-label" for="vimeo-url1">Video URL</label>
							</div>
							<div class="col-sm-3">
								<%= video_form.text_field :vimeo_url, :class => "form-control"%>
							</div>
							<div class="col-sm-2 col-sm-offset-1 width15">
								<label class="control-label">Available for</label>
							</div>
							<div class="col-sm-4">
								<div class="col-sm-6">
									<label><%= video_form.check_box :demo, :class => "form-control" %>
									  Demonstration 
									</label>
								</div>
								<div class="col-sm-0 trial_subscription" hidden>
									<label><%= video_form.check_box :trial, :class => "form-control" %>
									  Trial Subscription
									</label>
								</div>	 
							</div>
						</div>
						<div class="seperator5"></div>
					</div>
				</div>
			</div>
			<% index += 1 %>
			<% if !f.object.new_record? && !f.object.videos.blank? %>
				<%= video_form.fields_for :bookmarks, @bookmark_videos, :wrapper => false do |bookmark_form| %>
					<%= render 'bookmark_accordion', :f => bookmark_form, :index => index %>
					<% index += 1 %>
				<% end %>
			<% end %>
		<% end %>
	</div>
</div> <!-- ACCORDION END -->
<div class="row">
	<div class="col-sm-12">
			<div id="video_link">
				<a href="#"><i class="fa fa-plus"></i></a>
				<%= f.link_to_add "(Add a video)", :videos, :data => { :target => "#accordion1" } %>
			</div>
		  <div id="bookmark_link">
				<%= link_to raw_field("fa fa-3x fa-plus", "(Add a bookmark)"), "#{bookmark_video_admin_bookmark_path(f.object.videos.first)}#video-modal", :remote => true, "data-toggle" => "modal"  if !f.object.new_record? && !f.object.videos.blank? && f.object.is_bookmark_video %>
			</div>
	</div>
</div>


<script>
	if ("<%= f.object.is_bookmark_video %>" == "true"){
		$("#video_link").hide();
	}else{
		$("#bookmark_link").hide();
	}
</script>
<%= javascript_include_tag "admin/app_functions/video_accordion.js"%>
