<%= form_for(resource, :as => resource_name, :remote => true, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class='row'>
  	<div class="col-sm-6 errors">
  </div>
  </div>	
  <div class='row'>
	  <div class="col-sm-6"><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true, :size => 50 %></div>
	</div>
	<div class='row'>  
		<div class="col-sm-7 pull-left" id='comfirm_instruction'><br /><%= link_to "Didn't receive confirmation instructions?", '#' %></div>
	  <div class="col-sm-2 pull-right"><br /><%= f.submit "Submit", :class => 'btn btn-success btn-block' %></div>
  </div>
<% end %>
