<section class="fav-content" id="video_search_results">
	<div class="row">
		<div class="col-xs-12">
			<ul class="row">
				<% unless objekts.blank? %>
				<% objekts.each do |objekt| %>
					<li class="col-xs-12 col-sm-6 col-md-4">
						<ul class="box-record">
							<li class="box-title"><input type="checkbox" name="<%= params[:controller] %>_ids[<%= objekt.id %>]" class="user_checkbox">
								<span class="pull-right">
									<!-- <button type="button" class="btn-trans">&times;</button> -->
									<%= link_to("&times;".html_safe, "#{params[:controller]}/#{objekt.id}", :class => "btn-trans", :method => :delete, :remote => true)%>
								</span>
							</li>
							<li class="box-details">
								<div class="row">
									<div class="col-xs-6 col-sm-5">
										<div class="item-thumb">
											<%= link_to(image_tag(video_thumbnail_image(objekt, :medium => 1), :alt => "", :class => "img-responsive center-block")) %>
										</div>
									</div>
									<div class="col-xs-6 col-sm-7 nopadding-left">
										<div class="row">
											<div class="col-xs-12">
												<div class="item-title">
													<%= link_to(objekt.topic.course.name.titleize.truncate(32), course_video_url(objekt.topic.course))%>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="item-categ">
													<%= link_to(objekt.topic.title.titleize.truncate(25), course_topic_url(objekt.topic.course_id, objekt.topic_id))%>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-xs-12">
												<div class="item-descr">
													<%= link_to(objekt.title.titleize.truncate(32), course_topic_video_url(objekt.topic.course_id, objekt.topic_id, objekt.id))%>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				<% end %>
				<%end%>
				<% unless deleted_objekts.blank? %>
				<% deleted_objekts.each do |objekt| %>
					<li class="col-xs-12 col-sm-6 col-md-4">
						<ul class="box-record">
							<li class="box-title"><input type="checkbox" name="<%= params[:controller] %>_ids[<%= objekt.id %>]" class="user_checkbox">
								<span class="pull-right">
									<!-- <button type="button" class="btn-trans">&times;</button> -->
									<% if params[:controller] == 'favourites' %>
										<%= link_to("&times;".html_safe, "#{params[:controller]}/#{objekt.favouritable_id}", :class => "btn-trans", :method => :delete, :remote => true)%>
									<% elsif params[:controller] == 'watch_lists' %>
										<%= link_to("&times;".html_safe, "#{params[:controller]}/#{objekt.video_id}", :class => "btn-trans", :method => :delete, :remote => true)%>
									<% end%>
								</span>
							</li>
							<li class="box-details">
								<div class="row">
									<div class="col-xs-6 col-sm-5">
										<div class="item-thumb">
											<%= link_to(image_tag(objekt.thumbnail, :alt => "", :class => "img-responsive center-block")) %>
										</div>
									</div>
									<div class="col-xs-6 col-sm-7 nopadding-left">
										<div class="row">
											<div class="col-xs-12">
												<div class="item-descr">
													<%= objekt.title%>
													<%#= link_to(objekt.title.titleize.truncate(32), course_topic_video_url(objekt.topic.course_id, objekt.topic_id, objekt.id))%>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</section>
<%= javascript_include_tag "application/main_app/user_option.js"%>