<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          <h4>All Courses</h4>
      </div>
    </div>
    <div class="courses-list-box">
      <% if @courses.blank? %>
      <div class="courses-list">
        <span class='sample_text col-sm-12'>No courses available</span>
      </div>
      <% end %>
      <% @courses.each do |course| %>
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2 col-md-2">
              <div class="course-logo-img">
                <a href="#">
                  <%= link_to(image_tag(course.channel.image.url, :alt => "Image", :class => "img-responsive center-block yellow-shadow" ), channel_url(course.channel)) %>
                </a>
              </div>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6">
              <ul class="list-content">
                <li class="title">
                  <%= link_to(course.name.titleize, list_of_course_path(course.id)) %>
                </li> 
                <li class="descr hidden-xs course_descrip_landing">
                  <%= course.description.truncate(250) %>
                </li>
              </ul>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="remove-button">
                <div class="form-group">
                  <% if current_user && !current_user.permitted_courses.include?(course) %>
                    <%= link_to("Subscribe", subscribe_subscription_path(course), {:remote => true, :class => "btn btn-danger", 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2">
              <div class="course-featured-video" data-no-turbolink="true">
                <%= displaying_videos_thumbnail(course) %>
              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 1 ends -->
      <% end %>
    </div>
  </div> <!-- col-sm-12 Ends -->
</div> <!-- first row -->
<%= javascript_include_tag "application/main_app/course.js"%>