<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-xs-12 col-sm-8">
          <h4>All Courses</h4>
      </div>
    </div>
    <div class="courses-list-box">
      <% @courses.each do |course| %>
        <div class="courses-list">
          <div class="row">
            <div class="col-xs-5 col-sm-2 col-md-2">
              <div class="course-logo-img">
                <a href="#">
                  <%= link_to(image_tag(course_thumbnail_image(course), :alt => "Image", :class => "img-responsive center-block" ), course_video_path(course.id)) %>
                </a>
              </div>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6">
              <ul class="list-content">
                <li class="title">
                  <%= link_to(course.name.titleize, course_video_path(course.id)) %>
                </li> 
                <li class="descr hidden-xs course_descrip_landing">
                  <%= course.description.truncate(250) %>
                </li>
              </ul>
            </div>
            <div class="hidden-xs col-sm-2 col-md-2">
              <div class="course-featured-video">
                <%= image_tag(course.channel.image.url, :alt => "Image", :class => "img-responsive" ) %>
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="remove-button">
                <div class="form-group">
                  <%= link_to("Subscribe", "#", :class => "btn btn-danger")%>
                </div>
              </div>
            </div>
          </div> <!-- row ends -->
        </div>  <!-- courses-list 1 ends -->
      <% end %>
    </div>
  </div> <!-- col-sm-12 Ends -->
</div> <!-- first row -->