<div class="courses-list">
  <div class="row">
    <div class="col-xs-5 col-sm-2 col-md-2">
      <div class="course-logo-img">
        <a href="<%=channel_path(result.channel_id)%>"><%= image_tag(channel_thumbnail_image(result.channel,{:image_size => 'medium'}), :alt => "Image", :class => "img-responsive center-block yellow-shadow" )%></a>
      </div>
    </div>
    <div class="col-xs-7 col-sm-8 col-md-8">
       <ul class="list-content">
          <li class="title">
            <ol class="breadcrumb">
              <li><a href="<%=list_of_course_path(result.id)%>"><%= result.name %></a></li>
            </ol>
          </li>
          <li class="descr hidden-xs"><%= result.description %></li>
        </ul>
    </div>
    <div class="hidden-xs col-sm-2 col-md-2">
      <div class="course-featured-video" data-no-turbolink="true">
        <%= displaying_videos_thumbnail(result) %>
      </div>
    </div>
  </div> <!-- row ends -->
</div> 