<div class="row">
  <div class="col-xs-12">
    <div class="video-slides">
      <h4>New Videos</h4>
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel-1 Begins -->
          <div class="carousel slide landing-carousel" id="new-vids" data-interval="false">
            <!-- Carousel items -->
            <div class="carousel-inner landing-carousel-inner">
              <% if @videos.blank? %>
                <span class='active sample_text'>No videos available</span>
              <% end %>
              <% @videos.each_with_index do |video, index| %>
                <div class="<%= is_active_videos(index) %> item">
                  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <% if cannot? :show, video %>
                      <%= link_to( image_tag(video_thumbnail_image(video, :medium => true), alt: "Image"), subscribe_subscription_path(video.topic.course), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) %>
                      <h6 class="hidden-xs"><%= video.title.titleize.truncate(30) %></h6>
                    <% else %>
                      <a href="<%= course_topic_video_url(video.topic.course_id, video.topic_id, video.id) %>">
                        <%= image_tag(video_thumbnail_image(video, :medium => true), alt: "Image") %>
                        <h6 class="hidden-xs"><%= video.title.titleize.truncate(30) %></h6>
                      </a>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <!-- Carousel-1 nav -->
            <a class="carousel-control left" href="#new-vids" data-slide="prev">
              <i class="fa fa-caret-left"></i>
            </a>
            <a class="carousel-control right" href="#new-vids" data-slide="next">
              <i class="fa fa-caret-right"></i>
            </a>
          </div>                
          <!-- Carousel Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "application/main_app/course.js"%>