<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title text-center">We value your feedback.</h4>
    </div>
    <div class="modal-body">
       <%= form_for :user_review, :remote => true, :url => user_reviews_url do |f| %>
       <div id ="reviews_errors"></div>
      <div class="row">
        <div class="col-xs-12">
          <p>Rate on the scale of 5 (1 being lowest)</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <p>Overall Course</p>
          </div>         
          <div class="col-xs-4"> 
          <% UserReview::VALID_RATINGS.each do |rates| %>
                <%= f.radio_button :overall_course, rates, :class => "star" %>
            <% end %>           
          </div>
        </div> 
        <div class="row">
          <div class="col-xs-12">
            <p>Quality of Audio/Video</p>
          </div>
          <div class="col-xs-4">
            <% UserReview::VALID_RATINGS.each do |rates| %>
                <%= f.radio_button :quality_of_audio_video, rates, :class => "star" %>
            <% end %>            
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>Quality of Explanation</p>
          </div>
          <div class="col-xs-4">
            <% UserReview::VALID_RATINGS.each do |rates| %>
                <%= f.radio_button :quality_of_explanation, rates, :class => "star" %>
            <% end %>          
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>Course Structure</p>
          </div>
          <div class="col-xs-4">
            <% UserReview::VALID_RATINGS.each do |rates| %>
                <%= f.radio_button :course_structure, rates, :class => "star" %>
            <% end %>           
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>Accessibility</p>
          </div>
          <div class="col-xs-4">
            <% UserReview::VALID_RATINGS.each do |rates| %>
                <%= f.radio_button :accessibility, rates, :class => "star" %>
            <% end %>           
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <p>Value for Money</p>
          </div>
          <div class="col-xs-4">
            <% UserReview::VALID_RATINGS.each do |rates| %>
                <%= f.radio_button :value_of_money, rates, :class => "star" %>
            <% end %>            
          </div>
        </div>                                                                                               
        </div>
      </div>
      <div class="seperator-10"></div>
        <div class="row">
          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-8">
                <p>Would you like to recommend this site to anyone ?</p>
              </div>
              <div class="col-xs-4 nopadding-left">
                  <label class="radio-inline">
                    <%= f.radio_button :recommand_site, true, :id => "inlineradio1"  %>
                      Yes                    
                  </label>
                  <label class="radio-inline">
                    <%= f.radio_button :recommand_site, false, :id => "inlineradio2"  %>No
                      Yes                   
                  </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
               <%= f.text_area :suggestion, :class => 'form-control', :placeholder => 'Any other suggestions/comments ?', :rows => 3 %>             
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
               <%= f.text_field :feedback_email, :class => 'form-control', :placeholder => 'Your Email-Address', :value => current_user ?  current_user.email : ''  %>              
            </div>
          </div>
        </div>                                                                                                        
        <div class="row">                    
          <div class="col-xs-12 text-center">
            <div class="form-group">
              <button type="submit" class="btn btn-success">Save</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>                                
            </div>
          </div>
        </div>
        <% end %>                                                      
      </div>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
