<div class="col-sm-12">
    <div class="slider4<%= topic_index %>">
      <% topic.videos.published.limit(6).each_with_index do |video, video_index| %>
          <div class="slide">
            <a href="<%= course_topic_video_url(video.topic.course_id, video.topic_id, video.id) %>">
              <%= image_tag(video_thumbnail_image(video), :alt => "Image") %>
            </a>
          </div>
      <% end %>
    </div>
    <div class="bx-caption">
      <h4><%= topic.title.titleize %></h4>
    </div>
</div>

<script>
  <% if !topic.videos.count.zero? %>
    $(document).ready(function(){
      $('.slider4<%= topic_index %>').bxSlider({
        slideWidth: 145,
        minSlides: 1,
        maxSlides: 2,
        moveSlides: 1,
        pager: false,
        infiniteLoop: true,
        hideControlOnEnd: false,
        speed: 1000
      });
    });
  <% end %>
  <% if topic.videos.count < 2 %>
    $(document).ready(function(){
      $(".carousel-box-<%= topic_index + 1 %> .bx-controls-direction").hide();
    })
  <% end %>
</script>