<div id="myCarousel<%= topics_index %>" class="carousel slide <%= "hidden-xs" unless topics_index.zero? %>">
	<div class="carousel-inner">
		<% topics.each_with_index do |topic , topic_index| %>
  			<div class="<%= "active" if topic_index.zero? %> item">
  				<ul class="wel-showcase">
  					<% topic.videos.limit(2).each do |video| %>
  						<li>
  							<a href="<%= course_videos_url(video.topic.course.id, video.id) %>">
  								<%= image_tag(video_thumbnail_image(video), alt: "Image") %>
  							</a>
  						</li>
  					<% end %>
  				</ul>
  				<div class="carousel-caption">
            <h4> <%= topic.title %></h4>
          </div>
  		</div>
		<% end %>
	</div>
	<a class="carousel-control left" href="#myCarousel<%= topics_index %>" data-slide="prev"><i class="fa fa-caret-left"></i></a>
  <a class="carousel-control right" href="#myCarousel<%= topics_index %>" data-slide="next"><i class="fa fa-caret-right"></i></a>
</div>