<div id="flash"><%= flash_message %></div>
<section class="btns-crumbs visible-md visible-lg">
    <div class="row">
      <%= render 'shared/user_menu' %>
    </div>
</section>
<div class="seperator5"></div>
<section id="new-videos">
  <%= render 'new_videos' %>
</section>
<div class="seperator10"></div>
<section class="all-courses indigo-back">
	<% if @subscribed_courses.blank? %>
		<%= render 'home/all_courses' %>
	<% else %>
		<%= render 'home/my_subscription' %>
	<% end %>
</section>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;"></div>
<%= javascript_include_tag "application/main_app/carousel.js"%>