<div id="flash"><%= flash_message %></div>
<section class="btns-crumbs visible-md visible-lg">
    <div class="row">
      <%= render 'shared/user_menu' %>
    </div>
</section>
<div class="seperator5"></div>
<div class="seperator5"></div>
<section class="all-courses indigo-back">
  <div class="row">
    <div class="col-sm-12">
      <h4>Search Results</h4>
      <div class="partial-courses-list-box">
        <%  @results.each do |result| %>
        <% if result.instance_of?(Course) %>
          <%= render 'home/course_results', :result => result%>
        <% elsif result.instance_of?(Topic) %>
         <%= render 'home/topic_results', :result => result%>
        <% else %>
         <%= render 'home/video_results', :result => result%>        
        <% end %>
        <% end %>
        <div><%= @results.count %> Results Found.</div>
        <%= paginate @results %>
      </div>
    </div> <!-- col-sm-12 Ends -->
  </div> <!-- first row -->
</section>
