<footer>
  <div class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-toggle" data-toggle="collapse" data-target="#footer-body"><i class="fa fa-bars"></i></a>
        <% list_array = ["courses", "favourites", "watch_lists", "histories"] %>
        <% if(user_signed_in?) %>
          <% unless (params[:controller] == "courses"&& params[:action] == "list") %>
          <ul class="footer-bar-btns visible-sm visible-xs">
            <% if params[:controller] == "courses" %>
              <li class="visible-xs offcanvas-toggler-btn"><a class="btn btn-success hand-cursor" data-toggle="offcanvas" title="Course Menu"><i class="fa fa-2x fa-exchange"></i></a></li>
            <% end %>
            <% if((params[:controller] == "home" && params[:action] == "index") or (list_array.include?(params[:controller])))  %> 
              <li><%= link_to(raw_field("fa fa-2x fa-clock-o blue-text"), histories_url, :class => "btn #{shared_active?("histories")}") %></li>
              <li><%= link_to(raw_field("fa fa-2x fa-star yellow-text"), favourites_url, :class => "btn #{shared_active?("favourites")}") %></li>
              <li><%= link_to(raw_field("fa fa-2x fa-list-ul orange-text"), watch_lists_url, :class => "btn #{shared_active?("watch_lists")}") %></li>
            <% end %>
          </ul>
          <% end %>
        <% end %>
      </div>
      <div class="navbar-collapse collapse" id="footer-body">
        <ul class="nav navbar-nav">
          <li><%= link_to 'Browse Our Library', browse_course_url %></li>
          <li><%= link_to 'About Us', about_us_url%></li>
          <li><%= link_to 'Contact Us', '#', :data => {:target => '#contact-us-modal', :toggle => 'modal'}, 'data-no-turbolink' => 'true' %></li>
          <li><%= link_to 'FAQs', faqs_url %></li>
          <li><%= link_to 'Our Partners', our_partners_url %></li>
          <li><%= link_to 'User Review', '#', :data => {:target => '#feedback-modal', :toggle => 'modal'}, 'data-no-turbolink' => 'true' %></li>
          <li><%= link_to 'Terms & Conditions', term_conditions_url %></li>
          <li><%= link_to 'Privacy Policy', privacy_policy_url %></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>
<div class="modal" id="feedback-modal" tabindex="-1" role="dialog" aria-labelledby="feedback-modal" aria-hidden="true" data-backdrop="true">
  <%= render 'home/user_review' %>
</div><!-- /.modal -->

<div class="modal" id="contact-us-modal" tabindex="-1" role="dialog" aria-labelledby="contact-us-modal" aria-hidden="true" data-backdrop="true">
  <%= render 'home/contact_us' %>
</div><!-- /.modal -->
