<% if current_user %>
  <div class="navbar navbar-inverse navbar-fixed-top" id="lazuli-top-menu">
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
              <span class="sr-only">Menu</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="lazuli-logo">
              <%= link_to image_tag("lazuli-logo.png", :class => "img-responsive", :alt => "Lazuli Logo"), root_url, :class => "navbar-brand nospace" %>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="navbar-collapse collapse" id="main-menu">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="navbar-form" role="search">
                      <div class="row">
                        <div class="col-xs-12">
                          <div class="input-group">
                            <div class="input-group-btn">
                              <button class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                            <input type="search" class="form-control" placeholder="What do you want to learn?">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                    <div class="col-md-2">
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <% Course.public_channel_courses.each do |course| %>
                            <% topics = course.topics %>
                            <li class="<%= 'dropdown-submenu' if topics.any? %>">
                            <%= link_to(course.name.titleize, course_video_path(course.id)) %>
                            <%= render 'devise/sessions/browse_course_links', :topics => topics, :course => course if topics.any? %>
                          </li>
                          <% end %>
                          <li class="divider"></li>
                          <li><%= link_to 'Browse Libary', browse_course_path %></li>
                        </ul>
                      </li>
                      </ul>
                    </div>
                  <div class="col-md-6">
                    <ul class="nav navbar-nav navbar-right">
                      <li><a>Welcome, <span><%= current_user.name.split(" ").first %></span></a></li>
                      <li><a href="#about" data-target="#account-modal" data-toggle='modal'><i class="fa fa-briefcase"></i> Settings</a></li>
                      <li><%= link_to raw_field("fa fa-sign-out","Log Out"), destroy_user_session_path, :method => :delete %></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row 1 ends -->
    </div>
  </div> <!-- navbar ends -->
<% else %>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <%= link_to raw("<img src='/assets/frontend/lazuli-logo.png' alt='Lazuli' class='img-responsive center-block'>"), root_url, :class=> "navbar-brand nospace" %>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="header-menu">
      <ul class="nav navbar-nav login-options">
        <li>
          <%= link_to raw("<i class='fa fa-sign-in'></i> Login"), '#', :data => {"target" => "#login-modal", 'toggle' => "modal"}  %>
        </li>
        <li>
          <%= link_to raw("<i class='fa fa-pencil-square-o'></i> Signup"), '#', :data => {"target" => "#signup-modal", 'toggle' => "modal"}  %>
        </li>
      </ul>
    </div>
  </div>
<% end %>
<div class="modal" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true" data-backdrop="true">
  <%= render 'admin/users/my_account' if user_signed_in? %>
</div><!-- /.modal -->