<% if user_signed_in? %>
  <div class="navbar navbar-inverse navbar-fixed-top" id="lazuli-top-menu">
    <div class="container">
      <div class="row"> <!-- row 1  -->
        <div class="col-xs-1 col-sm-3 hidden-xs">
          <div class="lazuli-logo">
            <%= link_to image_tag("lazuli-logo.png", :class => "img-responsive", :alt => "Lazuli Logo"), root_url, :class => "navbar-brand nospace", "data-no-turbolink" => true %>
          </div>
        </div>
        <div class="col-xs-4 col-sm-2 nopadding-right">
          <ul class="nav navbar-nav lazuli-course-dd">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <b class="caret"></b></a>
              <ul class="dropdown-menu lazuli-course-dd-content">
                <% Course.public_channel_courses(3).each do |course| %>
                  <% topics = course.topics %>
                  <li class="<%= 'dropdown-submenu' if topics.any? %>">
                  <%= link_to(course.name.titleize, course_video_path(course.id)) %>
                  <%= render 'devise/sessions/browse_course_links', :topics => topics, :course => course if topics.any? %>
                </li>
                <% end %>
                <li class="divider"></li>
                <li><%= link_to 'Browse Libary', browse_course_url %></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-xs-6 col-sm-4 nopadding-left">
          <form class="navbar-form" role="search" action = '/search' method = "get" id="main_search_form" >
            <div class="row">
              <div class="col-xs-12 nopadding-l-xs nopadding-r-xs">
                <div class="input-group">
                  <div class="input-group-btn">
                    <button class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                  <input type="text" name="search" class="form-control typeahead" id="main_search" data-provide="typeahead" data-items="4" data-source="[]" autocomplete="off" value="<%= params[:search] %>" placeholder="What do you want to learn?" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-xs-2 col-sm-3 lazuli-dd-user-btn dropdown text-right nopadding-left">
          <div class="btn-group margin-top-8 text-left">
            <button type="button" class="btn btn-dark dropdown-toggle hidden-xs hidden-sm text-btn" data-toggle="dropdown"><%= current_user.name %></button>
            <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></button>
              <ul class="dropdown-menu pull-right">
                <li><%= link_to 'My Account', '#', :data => {:target => '#account-modal', :toggle => 'modal'} %></li>
                <% if current_user.is_any_admin? %>
                  <li><%= link_to 'Admin Dashboard', admin_path, "data-no-turbolink" => 'true' %></li>
                <% end %>
                <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="homepage-modals">
    <div class="modal" id="account-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true" data-backdrop="true">
      <%= render 'users/my_account' %>
    </div><!-- /.modal -->
  </div>  
<% else %>
  <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="container"> 
    <div class="navbar-header">
      <%= link_to raw("<img src='/assets/frontend/lazuli-logo.png' alt='Lazuli' class='img-responsive center-block'>"), root_url, :class=> "navbar-brand nospace" %>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="header-menu">
      <ul class="nav navbar-nav login-options">
        <li>
          <%= link_to raw("<i class='fa fa-sign-in'></i> Login"), '#', :data => {"target" => "#login-modal", 'toggle' => "modal"}  %>
        </li>
        <li>
          <%= link_to raw("<i class='fa fa-pencil-square-o'></i> Signup"), '#', :data => {"target" => "#signup-modal", 'toggle' => "modal"}  %>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="homepage-modals">
    <div class="modal" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true" data-backdrop="true">
       <%= render 'devise/sessions/new' %>       
    </div>
    <div class="modal" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal" aria-hidden="true" data-backdrop="true">
      <%= render :template => '/devise/registrations/new' %>
    </div>
 </div> 
<% end %>

<%= javascript_include_tag "application/main_app/main_search.js"%>