<div class="row hidden-xs">
	<div class="col-xs-12">
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
				Browse Courses&nbsp;&nbsp;<i class="fa fa-caret-down"></i>
			</button>
			<ul class="dropdown-menu" role="menu">
				<% @courses.each do |course| %>
					<% topics = course.topics %>
						<li class="<%= 'dropdown-submenu' if topics.any? %>">
						<%= link_to(course.name.titleize, "/courses/#{course.id}") %>
						<% if topics.any? %>
							<ul class="dropdown-menu">
								<% topics.each do |topic| %>
									<% videos = topic.videos %>
									<li class="<%= 'dropdown-submenu' if videos.any? %>">
										<%= link_to(topic.title.titleize, "/courses/#{course.id}") %>
										<% if videos.any? %>
											<ul class="dropdown-menu">
												<% videos.each do |video| %>
													<li>
														<%= link_to(video.title.titleize, "/courses/#{course.id}/#{video.id}") %>
													</li>
												<% end %>
											</ul>
										<% end %>
									</li>
								<% end %>
							</ul>
						<% end %>
					</li>
				<% end %>
				<li class="divider"></li>
				<li><a href="#">Browse Libary</a></li>
			</ul>
		</div>
	</div>
</div>