<div class="row">
  <div class="col-sm-5">
    <ul class="social-id">
      <li>
        <%= lazuli_button_to("Signin with Facebook",  user_omniauth_authorize_path(:facebook), :class => "btn-primary facebook") %>
      </li>
      <li>
        <%= lazuli_button_to("Signin with Google+", user_omniauth_authorize_path(:google_oauth2), :class => 'btn-danger googleplus') %>
      </li>
      <li>
        <%= lazuli_button_to("Signin with Linkedin", user_omniauth_authorize_path(:linkedin), :class => "btn-primary linkedin")%>
      </li>
    </ul>
  </div>
  <div class="col-sm-7">
    <%= form_for(resource, :as => resource_name, :remote => true, :url => session_path(resource_name)) do |f| %>
    	<div><%= flash[:alert]  ||= flash[:notice] %></div>
    	<div id='error'></div>
      <div class="row">
        <div class="col-sm-12">
          <label class="hidden-xs" for="u-email-id">Email address</label>
          <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Enter valid Email Address' %>
	      </div>
	    </div>
	    <div class="seperator10"></div>
	    <div class="row">
	      <div class="col-sm-12">
	        <label class="hidden-xs" for="u-pswd">Password</label>
	        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Strong Password' %>
	      </div>
	    </div>
	    <div class="seperator5"></div>
	    <div class="row">
	      <div class="col-sm-6">
					<label class="checkbox-inline"><%= f.check_box :remember_me %> Remember me</label>
	      </div>
	     <!--  <div class="col-sm-6">
	        <label class="checkbox-inline"><input type="checkbox" id="checkbox2" value="logged"> Keep me logged in</label>
	      </div> -->
	    </div>
	    <div class="seperator10"></div>
	    <div class="row">
	      <div class="col-sm-12">
	        <button type="submit" class="btn btn-success btn-block">Login</button>
	      </div>
	    </div>
	    <div class="seperator10"></div>
	    <div class="row">
	      <div class="col-sm-12 text-right">
	        <a href="#">Can't Login ?</a>
	      </div>
	    </div>
    <% end %>
  </div>
</div>
