<% @channel_courses.each do |course| %>
<ul class="row channel-each-course">
  <li class="col-xs-12 channel-course-title"><%= link_to course.name.titleize, list_of_course_url(course.id) %></li>
  <li class="col-xs-12">
    <ul class="row">
      <li class="col-xs-12 col-sm-8 col-md-8 channel-course-descr">
         <%= course.description %>
      </li>
      <li class="col-xs-6 col-sm-2 col-md-2">
        <ul class="row text-left">          
            <li class="col-xs-12 channel-course-trainer">
              Trainer: <span><%= course.course_trainers.blank? ? '' : course.default_lead_trainer %></span>
            </li>         
          <li class="col-xs-12 channel-course-vcount">
            <span><%= course.user_count %></span> Subscribed Users
          </li>

        </ul>
      </li>
      <li class="col-xs-6 col-sm-2 col-md-2 channel_courses course-featured-video">
        <%= displaying_videos_thumbnail(course) %>
      </li>
    </ul>
  </li>
</ul>
<% end %>
</div>