<div class="row">
  <div class="col-sm-12">
    <div class="video-descr">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-md-3">
          <div class="channel-logo-pic">
            <%= image_tag(@course.channel.image.url, :alt => "Channel Logo", :class => "img-border") %>
          </div>
        </div>
        <div class="col-xs-6 col-sm-8 col-md-9">
          <div class="video-descr-text">
            <% bookmarks = @video.bookmarks.order(:bookmark_sec) %>  
            <% if bookmarks.any? && params[:t] %>
              <% if @bookmark.blank? %>
               <h4> <%= bookmarks.first.title.titleize.truncate(60) %></h4>
               <p><%= bookmarks.first.description.truncate(300) %></p>  
              <% else %>
                <h4> <%= @bookmark.title.titleize.truncate(60) %></h4>
                <p><%= @bookmark.description.truncate(300) %></p>  
              <% end %>                  
            <% else %>
             <h4> <%= @video.title.titleize.truncate(60) %></h4>
             <p><%= @video.description.truncate(300) %></p>          
            <% end %>
          </div>
        </div>
        <div>
        </div>
      </div>
      <!-- col-12 ends -->
    </div>
    <!-- row ends -->              
  </div>
  <!-- .view-course ends -->
</div>