<div class="row">
  <div class="col-xs-12">
    <div class="video-slides">
      <h4>Recommended Videos</h4>
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel-1 Begins -->
          <div class="carousel slide landing-carousel" id="new-vids" data-interval="false">
            <!-- Carousel items -->
            <% if @recommended_videos.blank? %>
             <div class="text-center recommends">No Recommended videos available</div>
            <% else %>
             <div class="carousel-inner landing-carousel-inner">              
              <% @recommended_videos.each_with_index do |video, index| %>
                <div class="<%= is_active_videos(index) %> item">
                  <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                    <% if can? :show, video %>
                      <a href="<%= course_topic_video_url(video.topic.course_id, video.topic_id, video.id) %>">
                        <%= image_tag(video_thumbnail_image(video, :medium => true), alt: "Image") %>
                        <p><%= video.title %></p>
                      </a>
                    <% else %>
                      <div id='subscription_modal' data-toggle="modal" data-target="#modal-window">
                        <%= image_tag(video_thumbnail_image(video, :medium => true), alt: "Image") %>
                        <p><%= video.title %></p>
                      </div>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <% end %>
            <!-- Carousel-1 nav -->
            <% if @recommended_videos.count > 6 %>
              <a class="carousel-control left" href="#new-vids" data-slide="prev">
                <i class="fa fa-caret-left"></i>
              </a>
              <a class="carousel-control right" href="#new-vids" data-slide="next">
                <i class="fa fa-caret-right"></i>
              </a>
            <% end %>
          </div>
          <!-- Carousel Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "application/main_app/carousel.js"%>