<div class="row">
  <div class="col-xs-12">
    <div class="video-slides">
      <h4>Recommended Videos</h4>
      <div class="row">
        <div class="col-sm-12">
          <!-- Carousel-1 Begins -->
          <div class="slider4">
            <%= "No Recommended videos available" if @recommended_videos.blank? %>
            <% @recommended_videos.each_with_index do |video, index| %>
              <% if can? :show, video %>
                <div class="slide">
                  <a href="<%= course_topic_video_url(video.topic.course_id, video.topic_id, video.id) %>">
                    <%= image_tag(video_thumbnail_image(video, :medium => true), alt: "Image") %>
                    <p><%= video.title %></p>
                  </a>
                </div>
              <% else %>
                <div class="slide">
                  <div id='subscription_modal' data-toggle="modal" data-target="#modal-window">
                    <%= image_tag(video_thumbnail_image(video, :medium => true), alt: "Image") %>
                    <p><%= video.title %></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Carousel Ends -->
        </div>
      </div>
    </div>
  </div>
</div>

<%#= javascript_include_tag "application/main_app/carousel.js"%>
<script>
  $(document).ready(function(){
    $('.slider4').bxSlider({
      slideWidth: 180,
      minSlides: 2,
      maxSlides: 6,
      moveSlides: 1,
      slideMargin: 10,
      pager: false,
      infiniteLoop: false,
      hideControlOnEnd: false,
      speed: 1000
    });
  });
</script>

<style>
.bx-wrapper .bx-viewport{
  box-shadow: none;
}

.bx-wrapper{
  max-width: 100% !important;
}
</style>