<div class="col-xs-12 col-sm-5 col-md-4 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="course-menu">
    <div class="pull-left"><h5><a href="#"><%= @course.name %></a></h5></div>
    <div class="pull-right">
      <% if !@user_subscription.blank? %>
        <span class="label label-primary" data-toggle="modal" id="lbl-sbscribe-now" data-target="#sbscriptionModal">Subscribe Now</span>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <ul class="parent-course-menu" id="accordion" >
      <% @course.topics.published.each_with_index do |topic, topic_index| %>
        <li class="<%= is_active(topic, topic_index) %>" >
          <a href="#topic-<%= topic_index %>" data-toggle="collapse" data-parent="#accordion">
            <%= topic.title %>
          </a>
          <ul id="topic-<%= topic_index %>" class="child-course-menu collapse <%= is_accordion(topic, topic_index) %>">
            <% topic.videos.published.each_with_index do |video, video_index| %>
              <li class="<%= is_active_video(video) %>">
                <a href="<%= course_videos_path(@course.id, video.id) %>"> <%= video.title %>
                  <span><%= format_duration(video.vimeo_data) %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sbscriptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Subscribe Course</h4>
      </div>
      <%= form_tag subscribe_course_url @course.id do %>
        <%= hidden_field(:course_subscription, :channel_id, :value => @course.channel_id) %>
        <%= hidden_field(:course_subscription, :course_id, :value => @course.id) %>
        <%= hidden_field(:course_subscription, :user_id, :value => current_user.id) %>
        <%= hidden_field_tag 'video_id', params[:video_id] %>
        <div class="modal-body">
          <h5>Course Name : <a href="#"><%= @course.name %></a></h5>
          <h5>Available Subscriptions</h5>
          <% @course.course_subscriptions.each do |cs| %>
            <p style="margin-left: 50px;"><%=radio_button :course_subscription, :subscription_id, cs.subscription.id, :required => true %> <%= cs.subscription.name %></p>
            <%= hidden_field_tag "duration_#{cs.subscription.id}", cs.subscription.calculated_days %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= submit_tag "Cancel", :class => "btn btn-default", 'data-dismiss' => "modal"%>
          <%= submit_tag "Subscribe", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->