<div class="col-xs-12 col-sm-5 col-md-4 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="course-menu">
    <div class="pull-left"><h5><a href="#"><%= @course.name %></a></h5></div>
    <div class="pull-right">
      <% if @user_subscription.blank? %>
        <!-- <span class="label label-primary" data-toggle="modal" id="lbl-sbscribe-now" data-target="#sbscriptionModal">Subscribe Now</span> -->
      <% end %>
    </div>
    <div class="clearfix"></div>
    <ul class="parent-course-menu" id="accordion" >
      <% @course.topics.published.each_with_index do |topic, topic_index| %>
        <li class="<%= is_active(topic, topic_index) %>" >
          <a href="#topic-<%= topic_index %>" data-toggle="collapse" data-parent="#accordion">
            <%= topic.title %>
          </a>
          <ul id="topic-<%= topic_index %>" class="child-course-menu collapse <%= is_accordion(topic, topic_index) %>">
            <% topic.videos.published.each_with_index do |video, video_index| %>
              <li class="<%= is_active_video(video) %>">
                <span data-toggle="modal" data-target="#subscription_confirm">
                  <%= "locked" unless current_user.watchable_video?(video, @course.id) %>
                </span>
                <a href="<%= video_play_url(video, @course, current_user) %>"> <%= video.title %>             
                  <span><%= format_duration(video.vimeo_data) %></span>
                </a>

              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="modal fade" id="subscription_confirm" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content content1">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Are you sure Mr. President?</h3>
      </div>
      <div class="modal-body">
        <p>message</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-primary subscription_now">Subscribe Now</a>
        <a data-dismiss="modal" class="btn btn-primary">Try Now</a>
      </div>
    </div>
  </div>
  <div class="modal-content content2 bs-modal-sm" hidden>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Subscribe Course</h4>
      </div>
      <%= form_tag subscribe_course_url @course.id do %>
        <%= hidden_field(:course_subscription, :channel_id, :value => @course.channel_id) %>
        <%= hidden_field(:course_subscription, :course_id, :value => @course.id) %>
        <%= hidden_field(:course_subscription, :user_id, :value => current_user.id) %>
        <%= hidden_field_tag 'video_id', params[:video_id] %>
        <div class="modal-body">
          <h5>Course Name : <a href="#"><%= @course.name %></a></h5>
          <h5>Available Subscriptions</h5>
          <% @course.course_subscriptions.each do |cs| %>
            <p style="margin-left: 50px;"><%=radio_button :course_subscription, :subscription_id, cs.subscription.id, :required => true %> <%= cs.subscription.name %></p>
            <%= hidden_field_tag "duration_#{cs.subscription.id}", cs.subscription.calculated_days %>
          <% end %>
        </div>
        <div class="modal-footer">
          <a data-dismiss = 'modal' class="btn btn-default cancel_button">Cancel</a>
          <%= submit_tag "Subscribe", :class => "btn btn-primary" %>
        </div>
      <% end %>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
 $(".subscription_now").click(function(){
    $('.content1').hide();
    $('.content2').show();
    return false;
  });

 $(".cancel_button").click(function(){
    $('.content2').hide();
    $('.content1').show();
 })
})
</script>

