<div class="col-xs-12 col-sm-5 col-md-4 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="course-menu">
    <h5><a href="#"><%= @course.name %></a></h5>
    <ul class="parent-course-menu" id="accordion" >
      <% @course.topics.published.each_with_index do |topic, topic_index| %>
        <li class="<%= is_active(topic, topic_index) %>" >
          <a href="#topic-<%= topic_index %>" data-toggle="collapse" data-parent="#accordion">
            <%= topic.title %>
          </a>
          <ul id="topic-<%= topic_index %>" class="child-course-menu collapse <%= is_accordion(topic, topic_index) %>">
            <% topic.videos.published.each_with_index do |video, video_index| %>
              <li class="<%= is_active_video(video) %>">
                <a href="/courses/<%= @course.id %>/<%= video.id %>"> <%= video.title %>
                  <span><%= format_duration(video.vimeo_data) %></span>
                </a>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>