<div class="col-xs-12 col-sm-5 col-md-4 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="course-menu">
    <div class="pull-left"><h5><a href="#"><%= @course.name %></a></h5></div>
    <div class="pull-right">
    </div>
    <div class="clearfix"></div>
    <ul class="parent-course-menu" id="accordion" >
      <% @course.topics.published.each_with_index do |topic, topic_index| %>
        <li class="<%= is_active(topic, topic_index) %>" >
          <a href="#topic-<%= topic_index %>" data-toggle="collapse" data-parent="#accordion">
            <%= topic.title %>
          </a>
          <ul id="topic-<%= topic_index %>" class="child-course-menu collapse <%= is_accordion(topic, topic_index) %>">
            <% topic.videos.published.each_with_index do |video, video_index| %>              
                <% if cannot? :show, video %>
                <li class="<%= is_active_video(video) %>">
                <div id='subscription_modal' data-toggle="modal" data-target="#modal-window">
                  <span>
                    <%= image_tag("/assets/frontend/lock.png") %>
                  </span>
                  <a href="#"> <%= video.title.truncate(40) %>
                    <span><%= format_duration(video) %></span>
                  </a>
                </div>
              </li>
                <% else %>
                <li class="<%= is_active_video(video) %>">
                 <% bookmarks = video.bookmarks.order(:bookmark_sec) %>                
                 <% if bookmarks.any? %>                   
                      <a href="#video-<%= video_index %>" data-toggle="collapse" data-parent="topic-<%= topic_index %>">
                       <%= video.title.truncate(40) %>
                       <span><%= format_duration(video) %></span>
                      </a>
                      <ul id="video-<%= video_index %>" class="level-bookmark in">              
                             <% bookmarks.each_with_index do |bookmark, bookmark_index| %>
                             <li class="add-star">
                              <%= link_to(bookmark.title.titleize, bookmark_time_format(bookmark.time), :remote => true) %>
                              </li>                          
                          <% end %>
                      </ul>                    
                  <% else %>                 
                   <a href="<%= course_topic_video_url(@course.id, video.topic_id, video.id) %>"> <%= video.title.truncate(40) %>
                    <span><%= format_duration(video) %></span>
                   </a> 
                  <% end %>
                  </li>
                <% end %>             
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="modal fade" id="modal-window">
  <%= render 'shared/subscribe', :course => @course, :course_subscriptions => @course_subscriptions, :current_subscription => @current_subscription %>
</div>