<div id="flash"></div>
<div class="row">
  <div class="col-sm-12 col-md-4">
	  <ul class="video-tags">
	    <li><i class="fa fa-tag"></i> Tags:</li>
	    <% @video.tags.each do |tag| %>
	      <li>
          <%= link_to tag.name, tag_videos_videos_path(:search_tag => tag.name) %>
        </li>
	    <% end %>
	  </ul>
	</div>
  <!-- col-8 ends -->
  <% if @favourite_video 
      add_fav = 'hidden' 
      rem_fav = ''
    else
      add_fav = '' 
      rem_fav = 'hidden' 
    end %>
  <div class="col-sm-12 col-md-8">
    <div class="video-save-options">
      <span>
        <%= link_to button_field("fa fa-share", 'btn btn-link active', 'Share'), '#', :data => {:target => "#share_modal", :toggle => 'modal'} if !current_user.sharable_course?(@course.id) %>
      </span> 
      <span id='add-favourite' <%= add_fav %>>
        <%= link_to button_field("fa fa-star", 'btn btn-link active', 'Add to Favourites'), favourites_path(item_id: @video.id, item_type: "Video"), :method => :post, :remote => true %>
      </span>
      <span id='remove-favourite' <%= rem_fav %> >
        <%= link_to button_field("fa fa-star red-text", 'btn btn-link', 'Remove from Favourites'), delete_favs_favourites_path(item_id: @video.id, item_type: "Video"), :method => :delete, :remote => true %>
      </span>
	    <%= hidden_field_tag "watch_list_btn", "", "data-watch"=> is_watch_listed(@video.id, @course.id), "data-video_id" => @video.id, "data-course_id" => @course.id %>
      <%= hidden_field_tag "history_btn", "", "data-watch"=> false %>
      <%= link_to button_field("fa fa-clock-o", 'btn btn-link', ' Watch later'), add_to_watch_list_url(@video.id, @course.id), :method => :post, :remote => true, :id => "watch_lator" %>
      <%= link_to button_field("fa fa-clock-o red-text", 'btn btn-link', ' Remove Watch later'), remove_from_watch_list_url(@video.id, @course.id), :remote => true, :id => "remove_watch_lator" %>
    </div>
  </div>
  <!-- col-4 ends -->
</div>

<div class="modal fade" id="share_modal" tabindex="-1" role="dialog" aria-labelledby="share_modal" aria-hidden="true" data-backdrop="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Share</h4>
      </div>
      <div class='modal-body'>
        <%= social_share_button_tag(@course.name, :url => course_topic_video_url(@course.id, @topic.id, @video.id)) %>        
      </div>
    </div>
  </div>
</div>