<div class='seperator5'></div>
<section class="fr-channel-info white-back">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3">
          <div class="fr-company-logo text-left">
            <%= image_tag(@course.image.url, :alt => "Image", :class => "img-responsive") %>
            <h4><%= @course.name.titleize %></h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div class="fr-company-descr">
            <p class="text-justify default-height"><%= @course.description %></p>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <% trainers = @course.course_trainers %>
              <% unless trainers.blank? %>
              <b>List of Trainers:</b> <br/> 
               <ul class="trainers_list row">             
                <% trainers.each do |trainer| %>
                  <li>
                    <div class="trainer_info col-xs-3 col-sm-2">Name:</div><div class="trainer_name col-xs-9 col-sm-10"> <%=  trainer.name.try(:titleize) %></div>
                    <div  class="trainer_info col-xs-3 col-sm-2">Biography:</div><div class="trainer_name col-xs-9 col-sm-10"><%=  trainer.biography %></div>
                     <div class="trainer_separator"></div> 
                  </li>                    
                <% end %>                
                </ul>
              <% end %>           
            </div>
          </div>             
        </div>
         <div class="col-xs-12 col-sm-8 col-md-11">
              <div class="remove-button right-align">
                <div class="form-group">
                    <%= link_to("Subscribe", subscribe_subscription_path(@course), {:remote => true, :class => "btn btn-danger", 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) if !user_signed_in? || !current_user.permitted_courses.include?(@course) %>
                </div>
              </div>
            </div>        
      </div>
    </div>      
  </div>
</section>
<section class="channel-courses-box indigo-back">
  <div class="row channel-courses-list">
    <div class="col-xs-12">
    <div class="row">
    	<div class="col-xs-12 col-sm-6">
          <h4>List of Topics</h4>		
    	</div>
    	<div class="col-xs-12 col-sm-3 col-sm-offset-3">
          <div class="form-group">
            <%= text_field_tag 'search-topics', nil , placeholder: "Search Topics", class: "form-control", title: "Minimum 3 characters to be entered" %>
            <%= hidden_field_tag 'course_id', @course.id %>         
          </div>		
    	</div>
    </div>
    <div class="course-topics-begin">
      <%= render 'topics/course_topics'%>
    </div>
    </div>
  </div>
</section>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;"></div>
<%= javascript_include_tag "application/main_app/topic_search.js"%>
