<section class="btns-crumbs visible-md visible-lg">
  <div class="row">
    <% if user_signed_in? %>
      <%= render 'shared/user_menu' if user_signed_in? %>
    <% else %>
      <div class="col-sm-5 col-md-4"></div>
    <% end %>
    <div class="col-sm-5 col-md-6 nopadding-left">
      <div class='breadcrumb'><%= courses_breadcrumbs(@course, @video) %></div>
    </div>
    <% unless @user_subscription.blank? %>
      <div class="col-sm-2 col-md-2 nopadding-left">
        <div class="sub-ends">
          <p class="text-center"><a href="#">Subscription Ends: <b><%= @user_subscription.expiry_date.strftime("%a, %w %B, %Y") %></b></a></p>
        </div>
      </div>
    <% end %>
  </div>
</section>
<section class="course-menu-videos">
  <div class="seperator10 visible-xs"></div>
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'topics_accordion' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="view-course">
        <%= render 'video_options' if user_signed_in? %>
        <!-- rows ends -->
        <div class="row">
          <div class="col-sm-12">
            <div class="place-video">
              <iframe src="<%= vimeo_iframe_url %>" id="player_1" width="1280" height="720" frameborder="0" title="Brad!" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
          </div>
          <!-- col-12 ends -->
        </div>
        <!-- row ends -->
        <%= render 'course_header' %>
        <!-- col-7 ends -->
      </div>
      <!-- row ends -->
    </div>
  </div>
  <!--/row-->
</section>
<%= render 'recommended_videos'%>
<%= javascript_include_tag "froogaloop2/froogaloop2.min.js" %>
<%= javascript_include_tag "application/main_app/course.js"%>