<section class="btns-crumbs">
  <div class="row">
    <% if user_signed_in? %>
      <%= render 'shared/user_menu' if user_signed_in? %>
    <% else %>
      <div class="col-md-4 visible-md visible-lg"></div>
    <% end %>
    <div class="col-md-6 nopadding-left visible-md visible-lg">
      <%= courses_breadcrumbs1(@course, @topic, @video) %>
    </div>
    <div class="col-sm-7 col-md-2">
      <% if @user_subscription && (@course.course_admin_user_id != current_user.id)%>
        <% if @user_subscription.days_to_expire < 7 && @user_subscription.days_to_expire > 0 %>
          <div class="sub-ends">
            <p class="text-center">
              <a href="#">Your subscription expires <br/>on <b> <%= @user_subscription.expiry_date.try(:strftime,"#{@user_subscription.expiry_date.day.ordinalize} %b, %Y") %></b></a>
            </p>
          </div>
        <% elsif @user_subscription.days_to_expire < 0 %>
          <div class="sub-ends">
            <p class="text-center">
              <a href="#">Your subscription expired <br/>on <b> <%= @user_subscription.expiry_date.try(:strftime,"#{@user_subscription.expiry_date.day.ordinalize} %b, %Y") %></b></a>
            </p>
          </div>
        <% end %>
      <% elsif current_user && current_user.permitted_courses.include?(@course)%>
        <div>
          <p class="text-center red-text">
            <b>A D M I N</b>
          </p>
        </div>
      <% else %>
        <div>
          <p class="text-right">
            <%= subscription_button_link(@course) %>
          </p>
        </div>  
      <% end %>
    </div>
  </div>
</section>
<section class="course-menu-videos">
  <div class="seperator10 visible-xs"></div>
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'topics_accordion' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="view-course">
        <%= render 'video_options' if user_signed_in? %>
        <!-- rows ends -->
        <div class="row" id="place_video">
          <% if current_user && current_user.permitted_courses.include?(@course) %>
            <%= render 'embedded_video' %>
          <% elsif @video.demo %>
            <%= render 'embedded_video' %>
          <% else %>
            <%= render 'embedded_block_video' %>
          <% end %>
          <!-- col-12 ends -->
        </div>
        <!-- row ends -->
        <div class="course_header">
        <%= render 'course_header' %>
        </div>
        <!-- col-7 ends -->
      </div>
      <!-- row ends -->
    </div>
  </div>
  <!--/row-->
</section>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;"></div>
<%= render 'recommended_videos'%>
<%= javascript_include_tag "froogaloop2/froogaloop2.min.js" %>
<%= javascript_include_tag "application/main_app/course.js"%>