<section class="btns-crumbs visible-md visible-lg">
  <div class="row">
    <% if user_signed_in? %>
      <%= render 'shared/user_menu' if user_signed_in? %>
    <% else %>
      <div class="col-sm-5 col-md-4"></div>
    <% end %>
    <div class="col-sm-5 col-md-6 nopadding-left">
      <%= courses_breadcrumbs1(@course, @topic, @video) %>
    </div>
      <div class="col-sm-2 col-md-2 nopadding-left">
        <% unless @user_subscription.blank? %>
          <% unless @course.course_admin_user_id == current_user.id %>
          <div class="sub-ends">
            <p class="text-center">
              <a data-toggle="modal" data-target="#modal-window" data-remote="true" href="/subscriptions/4/subscribe" data-no-turbolink = 'true'>Your subscription expires <br/>on <b> <%= @user_subscription.expiry_date.try(:strftime,"#{@user_subscription.expiry_date.day.ordinalize} %b, %Y") %></b></a>
            </p>
          </div>
          <%#= link_to("Extend Subscription", subscribe_subscription_path(@course), {:remote => true, :class => "btn btn-danger", 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) if user_signed_in? %>
          <% end %>
        <% else %>
          <div>
            <p class="text-right">
              <%= link_to("Subscribe", subscribe_subscription_path(@course), {:remote => true, :class => "btn btn-danger", 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}) if user_signed_in? && !current_user.is_admin? || (current_user && current_user.is_course_admin? && !current_user.watchable_course?(@course.id)) %>

            </p>
          </div>
        <% end %>
      </div>
  </div>
</section>
<section class="course-menu-videos">
  <div class="seperator10 visible-xs"></div>
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render 'topics_accordion' %>
    <!--/span-->
    <div class="col-xs-12 col-sm-7 col-md-8">
      <div class="view-course">
        <%= render 'video_options' if user_signed_in? %>
        <!-- rows ends -->
        <div class="row" id="place_video">
          <% if current_user && (current_user.watchable_video?(@video, @video.topic.course_id) || current_user.is_admin? )%>
            <%= render 'embedded_video' %>
          <% elsif @video.demo %>
            <%= render 'embedded_video' %>
          <% else %>
            <%= render 'embedded_block_video' %>
          <% end %>
          <!-- col-12 ends -->
        </div>
        <!-- row ends -->
        <%= render 'course_header' %>
        <!-- col-7 ends -->
      </div>
      <!-- row ends -->
    </div>
  </div>
  <!--/row-->
</section>
<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;"></div>
<%= render 'recommended_videos'%>
<%= javascript_include_tag "froogaloop2/froogaloop2.min.js" %>
<%= javascript_include_tag "application/main_app/course.js"%>