<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
				<div class="row">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#channel_accordion" href="#collapse_1">
					<div class="col-sm-12"><h5>Administrator Details</h5></div></a>
				</div>
		</div>
	</div>
	<div id="collapse_1" class="panel-collapse collapse">
		<div class="panel-body form-group">
			<div class="row">
				<div class="col-sm-2">
					<label for="cont-no" class="control-label">Full Name<%= required_field %></label>
				</div>
				<div class="col-sm-4">
					<div class="control-group">
						<%= f.hidden_field :admin_user_id, :class => 'select2 validate[required]', :id => "user_search_channel", :disabled => !current_user.is_admin? %>
					</div>
				</div>

				<div class="col-sm-2">
					<label for="cont-no" class="control-label">Contact Number</label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :contact_number, :class => "form-control validate[custom[phone]]" %>
				</div>
			</div>
			<div class="seperator10"></div>
			<div class="row">
				<div class="col-sm-2">
					<label for="u-email" class="control-label">Email<%= required_field %></label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :email, :class => "form-control validate[required, custom[email]]", :placeholder => "@example.com" %>
				</div>
				<div class="col-sm-2">
					<label for="u-name" class="control-label">User Name<%= required_field %></label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :user_name, :class => "form-control validate[required]" %>
				</div>
			</div>
		</div>
	</div>
</div>