<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
				<div class="row">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#channel_accordion" href="#collapse_2">
					<div class="col-sm-12"><h5>Company Details</h5></div></a>
				</div>
		</div>
	</div>
	<div id="collapse_2" class="panel-collapse collapse">
		<div class="panel-body form-group">
			<div class="row">
				<div class="col-sm-2">
					<label for="comp-name" class="control-label">Company Name<%= required_field %></label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :company_name, :class => "form-control validate[required]" %>
				</div>
				<div class="col-sm-2">
					<label for="cont-name" class="control-label">Contact Name</label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :company_contact_name, :class => "form-control" %>
				</div>
			</div>
			<div class="seperator10"></div>
			<div class="row">
				<div class="col-sm-2">
					<label for="u-add" class="control-label">Address</label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :company_address, :class => "form-control" %>
				</div>
				<div class="col-sm-2">
					<label for="comp-logo" class="control-label">Company Logo</label>
				</div>
				<div class="col-md-4">
				  <div class="fileupload fileupload-new" data-provides="fileupload">
					<span class="btn blue btn-file">
					<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Upload Logo</span>
					<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
					<%= f.file_field :image %>
					</span>
					<span class="fileupload-preview" style="margin-left:5px;"></span>
					<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
				 </div>
				</div>
			</div>
			<div class="seperator10"></div>
			<div class="row">
				<div class="col-sm-2">
					<label for="post-add" class="control-label">Postal Address</label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :company_postal_address, :class => "form-control" %>
				</div>
				<div class="col-sm-2">
					<label for="comp-desc" class="control-label">Description</label>
				</div>
				<div class="col-sm-4">
					<%= f.text_area :company_description, :rows => 3, :class => "form-control" %>
					<!-- <textarea class="form-control" id="comp-desc" name="comp-desc" rows="3"></textarea>  -->
				</div>
			</div>
			<div class="seperator10"></div>
			<div class="row">
				<div class="col-sm-2">
					<label for="ab-id" class="control-label">Australian Business/ Company Number<%= required_field %></label>
				</div>
				<div class="col-sm-4">
					<%= f.text_field :company_number, :class => "form-control validate[required]" %>
					<%= f.hidden_field :created_by, :value => current_user.id if current_user %>
				</div>
			</div>

		</div>
	</div>
</div>