<%= nested_form_for [:admin, @channel], :html => { :multipart => true } do |f| %>
	<%= render 'channel_error' %>
	<section class="container">
		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body seperator5">
					<div class="seperator5"></div>
					<div class="row">
						<div class="col-sm-2"><label class="control-label">Channel Type</label></div>
						<div class="col-sm-2">
							<%= f.select :channel_type, options_for_select([["Public","public"], ["Private","private"]], @channel.channel_type), {}, { :class => 'form-control' } %>
						</div>
						<div class="col-sm-2">
							<label for="channel-name" class="control-label">Channel Name</label>
						</div>
						<div class="col-sm-2">
							<%= f.text_field :name, :class => "form-control" %>
						</div>
						<div class="col-sm-1 col-sm-offset-3">
							<a href="#"><i class="fa fa-question-circle fa-3x"></i></a>
						</div>
					</div>
					<div class="seperator5"></div>
					<div class="row">
						<div class="col-sm-12">
							<!-- ACCOIRDION START -->
							<div class="portlet-body">
								<div class="panel-group accordion" id="accordion1">
									<%= render 'administration_detail_form', :f => f %>
									<%= render 'company_detail_form', :f => f %>
									<%= f.fields_for :courses do |course_form| %> 
										<%= render 'course_detail_form', :f => course_form %>
									<% end %>
								</div>
							</div>
							<!-- ACCORDION END -->
						</div>
					</div>
					<div class="seperator5"></div>
					<div class="row">
						<div class="col-sm-12">
							<button type="submit" class="btn green" value="Save">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>