<div class="portlet-body form">
	<!-- BEGIN FORM-->
	<%= form_for [:admin, @channel], :html => { :multipart => true, :class => "form-horizontal" } do |f| %>
		<div class="form-body">
			<h3 class="form-section">Administrator Details</h3>
			<%= render 'channel_error' %>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Actual Name: </label>
						<div class="col-md-9">
							<%= f.text_field :name, :class => "form-control" %>
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Contact Number: </label>
						<div class="col-md-9">
							<%= f.text_field :contact_number, :class => "form-control" %>
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<!--/span-->
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Email: </label>
						<div class="col-md-9">
							<%= f.text_field :email, :class => "form-control" %>
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">User Name: </label>
						<div class="col-md-9">
							<%= f.text_field :user_name, :class => "form-control" %>
							<span class="help-block"></span>
						</div>
					</div>
				</div>
				<!--/span-->
			</div>

			<!--/row-->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Channel Type: </label>
						<!-- <label class="control-label col-md-3">Gender</label> -->
						<div class="col-md-9">
							<%= f.select :channel_type, options_for_select([["Public","public"], ["Private","private"]], @channel.channel_type), {}, { :class => 'form-control' } %>
							<span class="help-block">.</span>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<!-- <div class="form-group">
						<label class="control-label col-md-3">Date of Birth</label>
						<div class="col-md-9">
							<input type="text" class="form-control" placeholder="dd/mm/yyyy">
						</div>
					</div> -->
				</div>
				<!--/span-->
			</div>
			
			<h3 class="form-section">Company Details</h3>
			<!--/row-->                   
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Company Name: </label>
						<div class="col-md-9">
							<%= f.text_field :company_name, :class => "form-control" %>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Contact Name: </label>
						<div class="col-md-9">
							<%= f.text_field :company_contact_name, :class => "form-control" %>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Address: </label>
						<div class="col-md-9">
							<%= f.text_field :company_address, :class => "form-control" %>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Company Logo: </label>
						<div class="col-md-9">
							<%= f.file_field :image, :class => "form-control" %>
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			
			<!--/row-->           
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Postal Address: </label>
						<div class="col-md-9">
							<%= f.text_field :company_postal_address, :class => "form-control" %>
						</div>
					</div>
				</div>
				<!--/span-->
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Australian Business/Company Number: </label>
						<div class="col-md-9">
							<%= f.text_field :company_number, :class => "form-control" %>
						</div>
					</div>
				</div>
				<!--/span-->
			</div>
			<!--/row-->

			<!--/row-->           
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label col-md-3">Description: </label>
						<div class="col-md-9">
							<%= f.text_area :company_description, :size => "15*10", :class => "form-control" %>
						</div>
					</div>
				</div>
			</div>
			<%= f.hidden_field :admin_user_id, :value => current_user.id if current_user %>
		  <%= f.hidden_field :created_by, :value => current_user.id if current_user %>

		</div>
		<div class="form-actions fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="col-md-offset-3 col-md-9">
						<button type="submit" class="btn green">Submit</button>
						<!-- <button type="button" class="btn default">Cancel</button>  -->                             
					</div>
				</div>
				<div class="col-md-6">
				</div>
			</div>
		</div>
	<% end %>
	<!-- END FORM-->                
</div>