<%= nested_form_for [:admin, @channel], :html => { :multipart => true, :class => 'formClass' } do |f| %>
	<%= errors_for @channel unless @channel.errors.blank? %>
	<section class="container">
		<div class="form-group">
			<div class="panel panel-default">
				<div class="panel-body seperator5">
					<div class="seperator5"></div>
					<div class="row">
						<div class="col-sm-12">
							<div class="col-sm-2">
								<label for="channel-name" class="control-label">Channel Name<%= required_field %></label>
							</div>
							<div class="col-sm-4">
								<%= f.text_field :name, :class => "form-control validate[required]" %>
							</div>
							<div class="col-sm-2"><label class="control-label">Channel Type<%= required_field %></label></div>
							<div class="col-sm-3">
								<%= f.select :channel_type, options_for_select([["Public","public"], ["Private","private"]], @channel.channel_type), {}, { :class => 'form-control validate[required]' } %>
							</div>
							<div class="col-sm-1">
								<a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
							</div>
						</div>
					</div>
					<div class="seperator5"></div>
					<div class="row">
						<div class="col-sm-12">
							<!-- ACCOIRDION START -->
							<div class="portlet-body">
								<div class="panel-group accordion" id="channel_accordion">
									<%= render 'administration_detail_form', :f => f %>
									<%= render 'company_detail_form', :f => f %> 
									<%= render 'course_detail_form', :course_form => f %>
								</div>
							</div>
							<div class="seperator5"></div>
							<!-- ACCORDION END -->
						</div>
					</div>
					<div class="seperator5"></div>
					<div class="row">
						<div class="col-sm-1">
							<button type="submit" class="btn green" value="Save">Save</button>
						</div>
						<div class="col-md-0">
							<%= f.link_to_add raw_field('fa fa-3x fa-plus', "Add a Course" ), :courses, :data => { :target => "#channel_accordion" }, :class => 'btn green' %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<% end %>

<%= javascript_include_tag "admin/app_functions/jquery_validation.js"%>
<%= javascript_include_tag "admin/app_functions/channel.js"%>