<div class="row-align form-group">
	<div class="col-md-2">
		<label for="uname">Actual Name<%= required_field %></label>
	</div>
	<div class="col-md-4">
	  <%= f.text_field 'actual_name', :class => 'form-control validate[required]' %>
	</div>
</div>
	<div class="row form-group">
	<div class="col-md-2">
		<label for="uname">User Name<%= required_field %></label>
	</div>
	<div class="col-md-4">
	  <%= f.text_field 'name', :class => 'form-control validate[required]' %>
	</div>
</div>
<div class="row-align form-group">
	<div class="col-md-2">
		<label for="emailID">Email ID<%= required_field %></label>
	</div>
	<div class="col-md-4">
		<%= f.text_field 'email', :class => 'form-control validate[required, custom[email]]' %>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-2">
		<label>Phone Number</label>
	</div>
	<div class="col-md-4">
		<%= f.text_field 'phone_number', :class => 'form-control validate[custom[phone]]' %>
	</div>
</div>

<div class="row col-md-13">
	<div class="col-md-6">	
    <div class="row form-group">
    	<div class="col-md-4">
    		<label>Company Name</label>
    	</div>
    	<div class="col-md-8">
  			<%= f.text_field 'company_name', :class => 'form-control' %>
    	</div>
    </div>
    <div class="row form-group">
    	<div class="col-md-4">
    		<label for="emailID">Password<%= required_field %></label>
    	</div>
    	<div class="col-md-8">
  			<%= f.password_field 'password', :class => 'form-control validate[required, minSize[8]]' %>
    	</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row form-group">
    	<div class="col-md-4">
    		<label for="emailID">Business/Personal Address:</label>
    	</div>
    	<div class="col-md-8">
  			<%= f.text_area 'address', :class => 'form-control', :size => '10x3' %>
    	</div>
    </div>
  </div>
</div>