<%= javascript_include_tag 'admin/app_functions/user_channel_subscritpions' %>
<hr>
<div class="row-align form-group">
	<div class="col-md-3">
		<label for="channelsS2">Channel Subscribed To<%= required_field %></label>
	</div>
	<div class="col-md-3">
	  <%= f.select 'channel_id', options_for_select(@channels.collect {|c| [ c.name, c.id ] }, f.object.channel_id), {:include_blank => "Please Select"}, :class => 'form-control channels_id validate[required]' %>
	</div>
</div>
	<div class="row form-group">
	<div class="col-md-2">
		<label for="uname">Course Subscribed For<%= required_field %></label>
	</div>
	<div class="col-md-3">
	  <%= f.select 'course_id', options_for_select(@courses.collect {|c| [ c.name, c.id ] }, f.object.course_id), {:include_blank => "Please Select"}, :class => 'form-control courses_id validate[required]' %>
	</div>
</div>
<div class="row-align form-group">
	<div class="col-md-3">
		<label for="uname">Type of Subscription<%= required_field %></label>
	</div>
	<div class="col-md-3 subscription_type">
	  <%= f.select 'subscription_id', options_for_select(@subscriptions.collect {|s| [ "#{s.name}- #{s.calculated_days} days", s.id, {'data-calculated_days' => s.calculated_days} ] }, f.object.subscription_id), {:include_blank => "Please Select"}, :class => 'form-control subscriptions_id validate[required]' %>
	</div>
</div>
<div class="row form-group permissions" id='permissions_<%= index %>'>
	<div class="col-md-2">
		<label>User Permissions<%= required_field %></label>
	</div>
	<div class="col-md-1">
		<%= f.check_box 'permission_watch', :checked => "checked" %><label>Watch</label>
	</div>	
	<div class="col-md-1">
		<%= f.check_box 'permission_share' %><label>Share</label>
	</div>	
	<div class="col-md-2">
		<%= f.check_box 'permission_create', :class =>'permission_create' %><label>Create</label>
	</div>
</div>
<div class="row-align form-group">
	<div class="col-md-3">
		<label>Date of Subscription<%= required_field %></label>
	</div>
	<div class="col-md-3">
		<div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			<%= f.text_field 'subscription_date', :class => "form-control subscription_date validate[required]" %>
			<span class="input-group-btn">
			<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
</div>		
<div class="row form-group">
  <div class="col-md-2">
  	<label>Date of Expiry<%= required_field %></label>
  </div>
	<div class="col-md-3">
		<div class="input-group">
			<%= f.text_field 'expiry_date', :class => "form-control expiry_date validate[required]", :readonly => true %>
			<span class="input-group-btn">
			<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
	</div>
</div>

<div class="row form-group">
  <div class="col-md-11 text-right">
  	<a href="#"><i class='fa fa-3x fa-minus'></i><a/>
   	<%= f.link_to_remove "Remove this Course" %>
  </div>
</div>