<hr>	
<div class="row-align form-group">
	<div class="col-md-3">
		<label for="channelsS2">Channels Subscribed To</label>
	</div>
	<div class="col-md-3">
	  <%= f.select 'channel_id', options_for_select(@channels.collect {|c| [ c.name, c.id ] }, f.object.channel_id), {:include_blank => "Select"}, :class => 'form-control channels_id' if @channels %>
	</div>
</div>
	<div class="row form-group">
	<div class="col-md-2">
		<label for="uname">Course Subscribed For</label>
	</div>
	<div class="col-md-3">
	  <%= f.select 'course_id', options_for_select(@courses.collect {|c| [ c.name, c.id ] }, f.object.course_id), {:include_blank => "Select"}, :class => 'form-control courses_id' if @courses %>
	</div>
</div>

<div class="row form-group">
	<div class="col-md-3">
		<label for="uname">Type of Subscription</label>
	</div>
	<div class="col-md-3 subscription_type">
	  <%= f.select 'subscription_id', options_for_select(@subscriptions.collect {|c| [ c.name, c.id ] }, f.object.subscription_id), {:include_blank => "Select"}, :class => 'form-control subscriptions_id' if @subscriptions %>
	</div>
</div>
<div class="row form-group">
	<div class="col-md-3">
		<label>Date of Subscription</label>
	</div>
	<div class="col-md-9">
		<div class="col-md-4">
		<div class="input-group date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			<%= f.text_field 'subscription_date', :class => "form-control" %>
			<span class="input-group-btn">
			<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
			</span>
		</div>

		</div>
  		<div class="col-md-2">
    		<label>Date of Expiry</label>
  		</div>
		<div class="col-md-4">
		<div class="input-group date date-picker" data-date="12-02-2012" data-date-format="dd-mm-yyyy" data-date-viewmode="years">
			<!-- <input type="text" class="form-control" readonly> -->
			<%= f.text_field 'expiry_date', :class => "form-control" %>
			<span class="input-group-btn">
			<button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
			</span>
		</div>
		</div>
	</div>
</div>

<div class="row form-group">
	<div class="col-md-3">
		<label>User Permissions</label>
	</div>
	<div class="col-md-9">
		<div class="col-md-2">
			<%= f.check_box 'permission_watch' %>Watch
		</div>	
		<div class="col-md-2">
			<%= f.check_box 'permission_share' %>Share
		</div>	
		<div class="col-md-2">						
			<%= f.check_box 'permission_create' %>Create
		</div>
	</div>
</div>

<!-- <div class="row form-group">
  <div class="col-md-3"></div>
  <div class="col-md-9">
   	<%#= f.link_to_remove "Remove this Course", :class => "fa fa-3x" %>
  </div>
</div> -->

<script type="text/javascript">
	$(document).ready(function(){

		$('.channels_id').change(function(){
			var subscription_id = $(this).closest(".form-group").next().next().find(".subscriptions_id").attr('id');
			var course_id = $(this).closest(".form-group").next().find(".courses_id").attr('id');
			var val = $("option:selected",this).val();
			$.ajax({
	            type: "GET",
	            url: "/course_subscription_types.js?",
	            data: {id: val, subscription: subscription_id, course: course_id}       
	          });     
		 });

		$('.date-picker').datepicker({
                rtl: App.isRTL(),
                autoclose: true
    }); 
	})
</script>