 	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<%= nested_form_for [:admin, @user], :html => {:id => 'user_form', :remote => true} do |f| %>
					<div id='error_messages'></div>
					<%= render 'user_info', :f => f %>
				    <hr>
					  <div><h4>List of User Courses</h4></div>
						  <div class="seperator5"></div>
						  <div class="portlet-body flip-scroll">
						    <table class="table table-bordered table-striped table-condensed flip-content table-hover" id="sample_1">
						    	<% if @user_channel.present? %>
							      <thead class="flip-content">
							        <tr>
							            <th>Course Subscribed for </th>
							            <th>Channel Subscribed to</th>
							            <th>Type of Subscription</th>
							            <th>Subscriptions Expiring on</th>
							            <th>Action</th>
							        </tr>
							      </thead>
							      <tbody>
							        <% @user_channel.each do |user_channel| %>    
							          <tr>
							            <td><%= user_channel.course.try(:name) %></td>
							            <td><%= user_channel.channel.try(:name) %></td>
							            <td><%= user_channel.subscription.try(:name) %></td>
							            <td><%= user_channel.expiry_date %></td>
							            <td><%= link_to link_raw_field('fa btn-trans fa-edit'),  edit_admin_user_channel_subscription_path(user_channel.id), :remote => true, :rel=>"tooltip", :title=>"Edit Course Subscription" %>
							            	&nbsp;&nbsp;
							            	<%= link_to link_raw_field('fa fa-ban'), admin_user_channel_subscription_path(user_channel), :rel=>'tooltip', :title => 'Delete Course Subscription', :class=>'btn-trans', :data =>{'no-turbolink'=>'true', :method => 'delete', :confirm => 'Are you sure you want to delete?'} %>
							            </td>
							          </tr>
							        <% end %>  
							      </tbody>
						      <% else %>
						      	<div class="table_box"><label>No courses are subscribed.</label></div>
						      <% end %>
						    </table>
						  </div>
						  <div id="user_channels">
						  	<%= f.fields_for :user_channel_subscriptions do |uc_form| %>
						  		<%= render 'user_channel_subscription_fields', :f => uc_form if uc_form.object.new_record? %>
						  	<% end %>
						  </div>
						  <div class="row form-group">
					    	<div class="col-md-3"></div>
					    	<div class="col-md-1">
					    		<%= f.submit 'Save', :class => 'btn green' %>
					    	</div>
					    	<div class="col-md-1">
					    		<%= f.link_to_add raw_field('fa fa-3x fa-plus', "Add Another Course" ), :user_channel_subscriptions, :data => { :target => "#user_channels" }, :class => 'btn green' %>
					    	</div>
					    </div>
			    <% end %> 
			  </div>  
			</div> 
		</div>
	</div>

	<div id='modal_box'></div>

	<style type="text/css">
		.row-align {
			margin-left: -15px;
			margin-right: -15px;
		}
	</style>

<%= javascript_include_tag 'admin/app_functions/users' %>
<script type="text/javascript">
	$("#user_password").removeClass('validate[required, minSize[8]]')
</script>