<div class="col-sm-2">
	<label class="control-label">Channel<%= required_field %></label>
</div>
<div class="col-sm-4">
	<%= f.collection_select :channel_id , @channels, :id, :name ,{:include_blank => "Please Select"}, {:class =>"channel_id select2me validate[required]", :id => "channel_id" } %>
</div>
<div class="col-sm-2">
	<label class="control-label">Channel Type<%= required_field %></label>
</div>
<div class="col-sm-3">
	<%= text_field_tag 'channel_type', nil ,:class => "form-control validate[required]", :disabled => true%>
</div>
<div class="col-sm-1">
	<a href="#"><i class="fa fa-question-circle fa-2x"></i></a>
</div>

<%= javascript_include_tag "utils.js"%>
<%= javascript_include_tag "admin/app_functions/course.js"%>