<%= nested_form_for [:admin , @course], :html => {:class => 'formClass'} do |f| %>
<%= errors_for @course unless @course.errors.blank? %>
<div class="form-group">
	<section class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="row" id="course_form_header">
						<%= render 'channel' , :f => f %>
				</div>
			</div>
		</div>
	</section>
	<div class="seperator12"></div>
	<div class="row">
		<div class="col-sm-12">
			<div class="add-new-course form-group">
	     		<div class="panel panel-default">
 	     		<div class="panel-heading">
    	  			<h4 class="panel-title">
    	  				Course Details
    	  			</h4>
 	     		</div>
  	  		<div class="panel-body">
  	  			<div class="row">
    	  			<div class="col-sm-2">
    	  				<label for="crs-name" class="control-label">Course Name<%= required_field %></label>
    	  			</div>
    	  			<div class="col-sm-4">
    	  				<%=f.text_field 'name', :class => "form-control validate[required]" %>
    	  			</div>
    	  			<%= f.fields_for :channel_course_permissions do |channel_course_permissions_fields| %>
								<%= render 'course_permission' , :f => channel_course_permissions_fields%>	
							<% end %>
  	  			</div>
  	  			<div class="seperator10"></div>
  	  			<div class="row">
    	  			<div class="col-sm-2">
    	  				<label for="crs-descr" class="control-label">Description<%= required_field %></label>
    	  			</div>
    	  			<div class="col-sm-4">
    	  				<%=f.text_area 'description', :rows =>4, :class => "form-control validate[required] "%>
    	  			</div>
    	  			<div class="col-sm-2">
								<label for="course-logo" class="control-label">Course Logo<%= required_field %></label>
							<p class="logo-up-size">(200px x 150px)</p>
							</div>
							<div class="col-md-4">
							  <div class="fileupload fileupload-new" data-provides="fileupload">
								<span class="btn blue btn-file">
								<span class="fileupload-new"><i class="fa fa-paper-clip"></i> Upload Logo</span>
								<span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
								<%= f.file_field :image %>
								</span>
                <span> <%= f.object.image_file_name %></span>
								<span class="fileupload-preview" style="margin-left:5px;"></span>
								<a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
							 </div>
							</div>
  	  			</div>
  	  			<div class="seperator10"></div>
						<div class="row">
							
						</div>
						<div class="seperator10"></div>
						<div class="row">
							<%= render 'course_subscription', :f => f %>
						</div>
						<div class="row">
							<div class="col-sm-12">
			  	  		<div id='trainers'>
			  	  			<%= f.fields_for :course_trainers do |course_trainer| %>
							  		<%= render 'course_trainer', :f => course_trainer %>
							  	<% end %>
				  			</div>
			  			</div>
						</div>
	  			</div>
  			</div>
			</div>
		</div>
		</div>
		<div class='row'>
			<div class="col-sm-2">
				<%= f.link_to_add raw_field('fa fa-plus', "Add a Trainer" ), :course_trainers, :data => { :target => "#trainers", 'no-turbolink' => true } %>
			</div>
		</div>	

	<div class="seperator5"></div>
	<div class="row">
		<div class="col-md-12">
			<%=f.submit 'Save', :class => "btn green", :id => "course_edit_form"%>
		</div>
	</div>
	<% end %>
</div>

<%= javascript_include_tag "admin/app_functions/course_validation.js"%>